[2017-06-27 16:43] YuAo opened #1 "Implement MTIImageRenderingReceipt resolver"
1. inputs image receipt refcount ++
2. resolve inputs
3. build/reuse render pipeline state
4. create/reuse render destination texture
5. create/reuse render pass descriptor w/ Reflection
6. create command encoder
7. encode vertices/texture/sampler/parameters
8. inputs image receipt refcount --
9. return destination texture

[2017-06-27 16:45] YuAo opened #2 "Design cache system (in MTIContext ?)"
Cache/Reuse:
1. Texture
2. Functions
3. RenderPipelineState

[2017-07-03 15:05] #1 closed, assigned to YuAo

[2017-07-03 15:05] #2 closed, assigned to YuAo

[2017-07-20 11:03] YuAo opened #4 "Review commit: 8188491"
8188491

[2017-07-22 01:27] YuAo commented on #4
e6e4304752b90fa94e3d900d819f64a5c836a8ff
acc599cb59884d70e9beae2b2084bb01e7933987
cd08e291030fe169ca0b023c60e1ecdc6e31fc1d

[2017-07-22 01:27] #4 closed

[2017-07-23 17:00] YuAo opened #5 "Render result cache and texture reuse"
1. If multiple promises dependent on one promise, that promise should only be resolved once.
2. Reuse texture whenever possible. (follows Image.cachePolicy)
3. Add support for persistent image whose render result should never be reused during the image's life time.

[2017-07-23 17:05] YuAo commented on #5
Basic structure: 5b82b8d

[2017-07-26 17:01] #5 closed

[2017-07-27 03:06] YuAo opened #7 "Implement a compute pipeline kernel."

[2017-07-27 03:08] YuAo opened #8 "Cleanup MTIContext public APIs"

[2017-07-27 03:08] YuAo opened #9 "MTIImage + CVPixelBuffer support. Maybe MTICVPixelBufferPromise."
- With video range / full range support.
- BT.601/BT.709 support
- Use compute pipeline to convert YUV?

[2017-07-31 06:34] YuAo opened #10 "MTIVector + `hash` & `isEqual` support"

[2017-08-07 16:39] notedit opened #11 "Support YUV CVPixelBuffer output"
When use none BGRA color format(for example  nv12 or i420),  it is boring to to color format convert. Hope  MetalPetal can support this

[2017-08-07 16:41] omarojo commented on #11
Output to CVPixelBuffer at the end of the chain, would be great. So we can use that output for other stuff like making videos or publishing to a live stream or something else.

[2017-08-07 16:44] YuAo commented on #11
MTIContext object supports rendering a MTIImage to a CVPixelBuffer. However it can only render to a BGRA pixel buffer now.

[2017-08-07 16:47] YuAo commented on #11
Will consider the "render to YUV" feature.

[2017-08-07 16:56] #9 closed

[2017-08-12 12:33] YuAo opened #12 "Use CIRenderDestination to render CIImage"

[2017-08-13 10:49] notedit commented on #11
i see CoreImage support render to yuv CVPixelBuffer.  but it cost too much cpu.  more than 100% cpu will be used.
[code]
is there any way to reduce the cpu use?

[2017-08-13 13:04] notedit commented on #11
it seems  it is because of  https://github.com/YuAo/YUCIHighPassSkinSmoothing,  move the discussion to  https://github.com/YuAo/YUCIHighPassSkinSmoothing/issues/11

[2017-08-14 07:09] #12 closed

[2017-09-21 05:39] #10 closed

[2017-10-08 04:36] #7 closed

[2018-01-08 04:43] #8 closed

[2018-01-09 11:17] YuAo commented on #11
@omarojo Render to YUV pixel buffer is implemented on supported hardware (MTLFeatureSet_iOS_GPUFamily3_v1). ref: 2226c0f3161a4f70e99b818aad2a49cb720162a9

Not fully tested, use with caution.

Here's an example:
[code]

[2018-01-09 11:18] #11 closed

[2018-03-08 10:24] alyfreym opened #19 "glitter effect"
Hello, I wanted to ask how to implement this library glitter filter. The Glitter filter creates a glittering or sparkling light effect. . A luminance map creates the glitter based on bright areas in the image.
![htb1nqm4rfxxxxxlxfxxq6xxfxxxa](https://user-images.githubusercontent.com/29518174/36249453-965e2f2e-125c-11e8-95e5-2d8c22ae7837.jpg). Please, if this library can not do this, tell me how t

[2018-03-09 09:19] YuAo commented on #19
Masaki Kawase, Frame Buffer Postprocessing Effects in DOUBLE-S.T.E.A.L (Wreckless), GDC 2003

http://slideplayer.com/slide/3406110/

Slides - Page 18 - Star (light streaks)

[2018-03-09 09:19] #19 closed

[2018-03-09 09:24] alyfreym commented on #19
Thanks.

[2018-04-26 07:45] PatrickSCLin opened #20 "How do I get rotated MTIImage ?"
[code]

assumed size of inputImage is 720 * 1280
I was expected that size of outputImage became  1280 * 720, but it's still same size of inputImage

How do I get rotated outputImage ?

[2018-04-26 07:53] PatrickSCLin commented on #20
Can you add one more method for MTIImage ?

[code]

[2018-04-26 08:37] #20 closed

[2018-04-27 06:43] YuAo commented on #20
added a `func oriented(_ orientation: CGImagePropertyOrientation) -> MTIImage` method on `MTIImage`. https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/Filters/MTIImage%2BFilters.m#L22

[2018-05-02 10:00] PatrickSCLin opened #21 "How to get aspect MTIImage ?"
sorry, I'm newbie with MetalPetal.
currently I can get aspect MTIImage very easy if I render the texture which from MKTView
but for some reasons, I hope I can get an aspect MTImage directly, How should I do ?

[2018-05-02 10:03] PatrickSCLin commented on #21
I've try MTITransformFilter or MTIMultilayerCompositingFilter, but wrong result when MTIImage with other orientation

[2018-05-02 10:27] YuAo commented on #21
You can use `MTIMultilayerCompositingFilter`.

First you need a background image, like `MTIImage.blackImage`/`MTIImage(color:SRGB:)` or any other image you'd like to use as a background. Set that image to `MTIMultilayerCompositingFilter`'s `inputBackgroundImage`.

Then you need a layer. Create a `MTILayer` with your `MTIImage` as `content`. Find out the `position`(center) and `size` of the layer u

[2018-05-02 10:51] PatrickSCLin commented on #21
yes, do you have slack or email ?

[2018-05-02 11:16] YuAo commented on #21
I'd like to keep the discussion here, since someone else may have the same problem.

[2018-05-02 15:44] PatrickSCLin commented on #21
Hi, It does work! but orientation of content is still not correct.

Origin Image, It's from device, with a orientation flag
![screen shot 2018-05-02 at 11 30 19 pm](https://user-images.githubusercontent.com/2464698/39533439-a48fb9c8-4e61-11e8-9b58-c5396e5a21f8.png)

outputImage from orientationFilter
![screen shot 2018-05-02 at 11 30 19 pm copy](https://user-images.githubusercontent.com/2464698/39

[2018-05-03 02:42] YuAo commented on #21
Use https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/Filters/MTIImage%2BFilters.m#L22 to get a oriented image.

The `orientation` property of the filter represents the orientation of the canvas. (Rotate the canvas to that orientation). So you cannot use the image orientation on that filter directly.

[2018-05-03 02:42] #21 closed

[2018-05-03 04:03] PatrickSCLin commented on #21
I can get orientated image now! but orientation of content is still wrong when image is not portrait

![screen shot 2018-05-03 at 11 57 59 am](https://user-images.githubusercontent.com/2464698/39559550-ad6821c6-4ec9-11e8-872a-04288e3480ab.png)

I found MTIImageOrientation is different with CGImagePropertyOrientation
[code]

[code]

[2018-05-03 06:34] YuAo commented on #21
The `oriented` method should work exactly as the CIImage's `oriented` method. You can try to first get the correctly oriented image. Then apply aspect fit. I suggest you test your image orientation using core image, to see if the orientation you provide is correct.

[2018-05-03 07:12] PatrickSCLin commented on #21
if I modify code to this way then result is correct

replay
`MTIImage(cvPixelBuffer: pixelBuffer, alphaType: .alphaIsOne).oriented(render_orientation)`
to
`MTIUnaryImageRenderingFilter.image(byProcessingImage: MTIImage(cvPixelBuffer: pixelBuffer, alphaType: .alphaIsOne), orientation: MTIImageOrientation(cgImagePropertyOrientation: render_orientation), parameters: [:], outputPixelFormat: .invalid)`

[2018-05-04 04:10] PatrickSCLin opened #22 "memory is always increase in MTIWeakToStrongObjectsMapTable"
Hi, I use MetalPetal to process image then render it to a unique CVPixelBuffer (reuse)
It works fine but memory seems increase by a very tiny size (it reduces only few times)
I've profile my app, root cause looks like NSPointerArray in MTIWeakToStrongObjectsMapTable
If I run my app for 2 hours, memory might increase 3-6 mb
How do I reduce size of MTIWeakToStrongObjectsMapTable in efficient way ?
B

[2018-05-04 06:26] YuAo commented on #22
It seems that `NSPointerArray` does not clear the NULLs automatically. However the `compact` method of `NSPointerArray` is not cheap. So I've modified the `MTIContext`'s `reclaimResources` method to also compact the pointer arrays. If you need to reclaim memory, call `context.reclaimResources()`.

[2018-05-04 06:26] #22 closed

[2018-06-05 17:31] omarojo opened #23 "How to MetalPetal in realtime"
Now that apple is releasing iOS 12 and macOS mojave and deprecating OPENGL ES is time to start using MetalPetal :) GPUImage wont be an option now.

I wonder what is the best guide to use MetalPetal in a realtime rendering setting to be able to take pictures and video in high quality.

:)

[2018-06-05 23:16] YuAo commented on #23
There's a readme for this repo, and a demo project too.

[2018-06-05 23:16] #23 closed

[2018-06-07 00:58] kallipigous opened #24 "Creating custom filter"
I've been playing for a day or so and I can create custom filters using swift  but it only works if I drag my custom metal shader into the pod target. Is that the only way i can expose my shader to MetalPetal?

[2018-06-07 15:54] kallipigous commented on #24
I figured it out.

 override class func fragmentFunctionDescriptor()->MTIFunctionDescriptor{
        return MTIFunctionDescriptor.init(name: "Filtername", libraryURL: Bundle(for: ClassName).url(forResource: "default", withExtension: "metallib"))

    }

[2018-06-07 15:54] #24 closed

[2018-06-07 23:26] kallipigous opened #25 "Distortion and Histograms"
Do you have any examples of distortion filters or drawing histograms in metalPetal? I'm trying to translate filters from GPUImage and I'd like some examples of vertex shaders that move pixels about.

[2018-06-08 03:26] NaichuanYang commented on #25
vertex VertexOut passthroughVertex(
        const device VertexIn * vertices [[ buffer(0) ]],
        uint vid [[ vertex_id ]]
    ) {
        VertexOut outVertex; //  see MTIShaderLib.h
        VertexIn inVertex = vertices[vid];
        outVertex.position = inVertex.position;
        outVertex.textureCoordinate = inVertex.textureCoordinate;
        return outVertex;
    }
// you can also see some

[2018-06-08 06:46] YuAo commented on #25
We're working on a histogram display filter. Distortion filters can be easily implemented using custom vertex shader or fragment shader. You can generally translate the OpenGL shader code to metal shader code and subclass MTIUnaryImageRenderingFilter to use the shader.

[2018-06-08 14:07] kallipigous commented on #25
Yes I've been playing with the passthrough vertex as an example but no luck so far. In open gl I used the glposition but neither vertexOut.position or vertexOut.texturecoordinates seems to work for me. I get weird results. That's why I was hoping for an example I could learn from in the code. So for example if I wanted to set the y value of a pixel to reference the pixel's luminance like an rgb pa

[2018-06-11 18:28] kallipigous commented on #25
ok for my specific requirements I've created metal coreimage Filters that allow me to create my histograms so it does not need to be done in Metal Petal.

[2018-06-11 18:28] #25 closed

[2018-06-12 06:57] ryanaw opened #26 "Images look washed out when rendering to MTKView"
For some reason rendering images to the `MTKView` makes them look washed out, I've tried setting both the `workingPixelFormat` to various things including sRGB. I've also tried setting the `colorPixelFormat` to different formats and seeing if that makes a difference. In fact, setting the `colorPixelFormat` on the `MTKView` to an sRGB format makes it even **more** washed out. It definitely has some

[2018-06-12 08:28] YuAo commented on #26
Can you place attach the original image here? Or try to load it using CIImage, then create a MTIImage from a CIImage using MTIImage(ciImage:isOpaque:)

[2018-06-12 15:40] ryanaw commented on #26
Loading it from a CIImage seemed to fix it using `MTIImage(ciImage:isOpaque:)`. Thanks!

[2018-06-12 15:40] #26 closed

[2018-06-13 02:18] YuAo commented on #26
It seems that the MTKTextureLoader cannot handle images in wide-color very well. However, CoreImage does that right thing. Would you please attach the original image here or send it to me(at)imyuao.com so that we can take a deep look at this issue.

[2018-06-24 21:40] GustasBr opened #27 "Add lookup filter"
Hey,

I'm curious how to make lookup filter function with MetalPetal?

I was using before GPUImage2 and that's how my code looks like in it. I want to make the same thing with MetalPetal.

[code]

[2018-06-24 23:03] rorz opened #28 "Mac support?"
Hi there,

I'm currently exploring my options for live-image filtering on the Mac. As it's a new project I want to avoid using GPUImage (due to OpenGL's deprecation) and go with a Metal-based solution instead.

MetalPetal is an awesome project. I have run the demo on iOS and am excited by its possibilities. However, I've been unable to install it as a dependency (via Cocoapods) in a macOS project,

[2018-06-25 02:31] YuAo commented on #27
See https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/Filters/MTIColorLookupFilter.h

[2018-06-25 02:31] #27 closed

[2018-06-25 02:57] YuAo commented on #28
It is possible to make this library work on macOS. `MTIImageView` and UIKit references is not the main problem, I've been using `#if __has_include(<UIKit/UIKit.h>)` (https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/UI/MTIImageView.h).

The main problem here is the GPU architecture difference. Apple's mobile devices use an GPU architecture called TBDR(Tile Based Deferred R

[2018-06-27 13:00] YuAo opened #29 "Data buffer support"

[2018-06-28 15:32] YuAo opened #30 "Complete simd vector support."
Maybe make `MTIVector` support more simd types.

[2018-06-30 12:09] YuAo opened #31 "Compute kernel + custom thread dispatch"

[2018-07-03 16:26] kallipigous opened #32 "Support Photoshop curves with MTIRGBToneCurveFilter"
It looks like the MTIRGBToneCurveFilter is very similar to GPUImage's curveToneFilter, but it's not clear to me how to generate the MTIVectors needed for it to work. Are there any plans to include a photoshop curves (acv) parser in the future?

[2018-07-04 03:33] YuAo commented on #32
Implement a photoshop acv parser should be very simple. You can find the acv file specification here: https://www.adobe.com/devnet-apps/photoshop/fileformatashtml/ , search for Curves.

Here's one I created years ago, not sure if it still works, should be a good starting point for you. It uses `CIVector`s, but it should be trivial for you to replace that with `MTIVector`s.

[VIPhotoshopCurvesData.

[2018-07-04 03:33] #32 closed

[2018-07-04 15:29] kallipigous commented on #32
Great. Many thanks. I’ll take a look.

Sent from my iPhone

[2018-07-07 03:41] YuAo opened #33 "Automatically reclaim resources"
On receiving memory warning, entering background maybe.

[2018-07-07 03:42] YuAo opened #34 "Bugs in example code"
`let context = MTIContext()` does not work.
Ref https://stackoverflow.com/questions/51025323/render-a-mtiimage

[2018-07-07 08:31] #34 closed

[2018-07-07 10:41] YuAo commented on #28
https://github.com/MetalPetal/MetalPetal/commit/20599facee6b312e91842a8eeb777f00fbae42a6

Support macOS 10.13 +

You can use version 0.7.0, which is available with CocoaPods.

[2018-07-09 13:39] commando24 opened #35 "How to apply filter on saved video and save it again using MetalPetal ? [Urgent]"
I am using AVFoundation to apply filter on video . But its taking to much time like 30 seconds for 45 seconds video. Can anyone tell me how to use this framework ?

[2018-07-10 01:04] YuAo commented on #35
You need to use AVAssetReader and writer. Here’s an example for you https://github.com/rs/SDAVAssetExportSession . It also has a delegate method where you can insert your render code.

[2018-07-10 01:04] #35 closed

[2018-07-10 02:49] YuAo commented on #28
Closing this issue. Open new issue if any farther problem is found.

[2018-07-10 02:49] #28 closed

[2018-07-10 11:31] commando24 commented on #35
@YuAo sorry to interrupt But can you please guide me or provide me a simple code to write in the delegate method ?

[2018-07-11 02:48] YuAo commented on #35
All you need to do is to process the video buffer in the delegate method.
You may want to look at MetalPetal's CameraViewController demo.

Something like:

[code]

Things about using `SDAVAssetExportSession` are not good topics here. You may want to create a question on "stackoverflow".

[2018-07-11 06:28] commando24 commented on #35
@YuAo thanks for your help. But my reason to use MetalPetal still not fullfilled. I thought using this will reduce video processing time but it's not . Can you tell me why this is happening ? Like we are using GPU for video processing but still its time same result as CPU.

[2018-07-11 14:46] YuAo commented on #35
I think it’s better to create a sample project demonstrating the issue you’ve encountered. And post a question about what you’re doing / what is your expectation on a Q&A site like stackoverflow. So people can discuss the question in a more open and efficient way.

[2018-07-29 13:16] #30 closed

[2018-07-30 19:03] GustasBr opened #36 "LookUpFilters look awful using MetalPetal"
Maybe I'm doing something wrong. Please check two images below. First image is made with GPUImage2 and the second with MetalPetal. Why the difference is so huge?

![37992738_1983380375025714_294567110770688000_n](https://user-images.githubusercontent.com/18195248/43417645-3472dcb4-9444-11e8-86ea-dd82cd6d826a.jpg)
![38001483_1983380328359052_4186797406483906560_n](https://user-images.githubusercont

[2018-07-31 02:44] YuAo commented on #36
Try creating your MTIImage from CGImage with SRGB = false option.
Like `[[MTIImage alloc] initWithCGImage:[UIImage imageNamed:@"ColorLookup512"].CGImage options:@{MTKTextureLoaderOptionSRGB: @(NO)}];`

BTW, You can use `MTIColorLookupFilter` it is more suitable for color lookup than using a blend filter.

[2018-07-31 02:44] #36 closed

[2018-07-31 03:07] YuAo commented on #36
If you do not specify the `MTKTextureLoaderOptionSRGB` option. `MTKTextureLoader` may load the image in to a sRGB texture, e.g. `MTLPixelFormatR8Unorm_sRGB`, when you read pixel value from a sRGB texture in shader, you'll get the color value in linear space. It is the "right" behavior, because color values should be calculated in linear space. However it looks like you have a lookup table designed

[2018-07-31 16:16] face2d opened #37 "deployment target should be iOS 8.0"
# Feature Request

As a fundamental framework based on Metal, *MetalPetal* should be set deployment target to iOS 8.0 to adapt widely range business needs.

Here I give some advice to improve compatibility or performance as below:

- `MTIImageView` should be implemented using `CAMetalLayer` but not MKTView.
- Avoid to use any MPS filters such as MPSImageGaussianBlur, cuz MPS filters require specif

[2018-08-01 02:10] #37 closed

[2018-08-02 20:03] kallipigous commented on #32
I converted the class for MTIVeccor today but sadly it crashes MetalPetal. I get this  warning

`newBufferWithBytesNoCopy:pointer 0x1050a6c10 is not 4096 byte aligned.'

[2018-08-03 02:44] YuAo commented on #32
Any file name and line number you can provide?

[2018-08-03 15:55] kallipigous commented on #32
An update worked. Sorry I was using the metalPetalDemo files and it was not updating the pod, just defaulting to the local code. I refreshed the pods and it jumped into life.

Here's the version that works if anyone needs it.

[VIPhotoshopCurvesData.zip](https://github.com/MetalPetal/MetalPetal/files/2257977/VIPhotoshopCurvesData.zip)

[2018-08-06 20:49] GustasBr opened #38 "App crashing when loading filters"
All of the questions were answered by YuAo and all of the solutions worked for me so I will ask one more about technical stuff.

I have photo editing application which is based on MetalPetal framework. The main question is why this application crashes for people who have iPhone 7 or iPhone 8 and better one. But for mine iPhone SE and my friend iPhone 6 it's working just great. It crashes when appl

[2018-08-07 02:38] YuAo commented on #38
Any crash log/report? We are currently using MetalPetal in very intensively and we have not encountered any similar problem.

[2018-08-07 06:09] GustasBr commented on #38
@YuAo As I said I can't tell you the problem because I only have iPhone SE and Metal don't work with xCode Simulators. (I did some research on google they said it's normal).

Also, I can't tell pixel size because it depends from the user what image he is editing. On my device every single image is working no matter if the size is big or not.

Anyway, if you mentioned maybe there's any option how t

[2018-08-07 10:41] YuAo commented on #38
Can't help if you cannot get any possible leads or crash reports. If you cannot get a test device, maybe you can try a third party crash report collect tool, for example https://fabric.io/

[2018-08-16 05:55] #38 closed

[2018-08-17 21:01] GustasBr opened #39 "App crashing when loading filters"
Good evening everyone.

Since my last topic was closed I'm creating the new one with additional information.
Here's the link to me previous topic with the same problem: [https://github.com/MetalPetal/MetalPetal/issues/38](url)

I have photo editing application which is based on MetalPetal framework. The main question is why this application crashes for people who have iPhone 7 or iPhone 8 and bett

[2018-08-19 16:26] YuAo commented on #39
You need to figure out why the image is nil. Step into the pirmas function and see where it quits, or does it run into the catch block and what is the error it prints out.

[2018-08-19 16:42] GustasBr commented on #39
@YuAo Excuse me for the new topic. It’s new for me.
Speaking about the problem, I can’t understand how iPhone model can affect that image is nil?

[2018-08-20 00:40] YuAo commented on #39
Can you debug? Step into the pirmas function and see where it quits, or does it run into the catch block and what is the error it prints out.
The iPhone model is not important, you should first figure out how your code executes.

[2018-08-22 11:09] GustasBr commented on #39
@YuAo
I believe there's not much what I can do with this problem. I guess there's a problem with this framework. Did you tried colorlookuptables by yourself on iPhone 7 or 8?

For me, it's not crashing anymore but it still don't work on iPhone 7.

[2018-08-23 06:45] YuAo commented on #39
We have all models of iPhone from 5s to X tested. Works perfectly. Maybe you can attach a sample project to demonstrate the problem?

[2018-08-23 09:04] GustasBr commented on #39
@YuAo Oh then I'm confused.

Yes, that would be perfect. Here's my sample project:
[SimplyPerf.zip](https://github.com/MetalPetal/MetalPetal/files/2313700/SimplyPerf.zip)

[2018-08-23 10:13] YuAo commented on #39
Two problems.

1. There's a problem about the color lookup table image. It uses a 16bpc(bit per component) pixel format. The `MTKTextureLoader` may not be able to load a cgimage in 16bpc format.

2. The color lookup table should be marked as `alphaIsOne`. Because it does not contain any transparent or semi-transparent pixel. This will save a unpremultiply operation.

I re-exported the color lookup

[2018-08-23 10:13] #39 closed

[2018-08-24 16:03] kallipigous opened #40 "Any plans to add synchronised audio recording to Recorder"
It would be lovely to be able to record audio along with the processed video. Are there any examples of that using the assetwriter with MetalPetal that does that?

[2018-08-24 21:05] kallipigous commented on #40
I managed to adapt GPUImage's version to Metal petal and it seems to work.

[2018-08-24 21:05] #40 closed

[2018-08-24 23:41] omarojo commented on #40
wow.. thats great.
share share :)

Omar Juarez • MDM. BSc.
Interactive Developer
omarojo.com

On Aug 24, 2018, 2:05 PM -0700, kallipigous <notifications@github.com>, wrote:

[2018-08-25 14:51] kallipigous commented on #40
Will do. I just need to organize it a bit.

[2018-08-28 10:48] YuAo commented on #33
ref. 73830790f63f15710e3ddb00caf11cf304ad31d3 ac99b718fd1aafc0b91007fdf58830fbec33b2d0

[2018-08-28 10:48] #33 closed

[2018-08-30 17:47] kallipigous commented on #40
Here's a simplified version of the four classes I use for using filters and recording video and audio using metalPetal. GPUImage does some fancy timecode checking to make sure audio and video are in sync but I just append the audio and video as it arrives it seems to be fine. Perhapse with significant processing it will get out of sync,

[metalPetalVideoRecording.zip](https://github.com/MetalPetal

[2018-09-05 13:20] SerjPridestar opened #42 "Bytes per row for initWithBitmapData assertion"
Hello!

I had an old implementation of generating a video from a set of images using UIImages and CoreGraphics. I thought of improving performance by using Metal, and luckily stumbled upon your project!

The problem I'm facing is that a user picks a set of images from an ImagePicker and I get a set of `PHAssets` I request the `Data` of these `PHAssets` so that I could use as little memory as possi

[2018-09-06 02:35] YuAo commented on #42
The data of a PHAsset is not bitmap data. It's the compressed image data with a JPG/PNG/GIF... container. So you cannot use the bitmap data constructor with it.

I think the idea of using `CIImage` is a ok.

You can also try to decode the image data yourself. One way to do that is generate a `CGImageRef` from the image data using `ImageIO.framework`. There's a piece of code in `-[MTIImagePropertie

[2018-09-06 02:35] #42 closed

[2018-09-06 08:29] temkich opened #43 "Recorder error: Cannot call method when status is 0"
Just press record and get error:
[code]

[2018-09-06 14:23] SerjPridestar opened #44 "Applying Transform Filter"
The `outputImage` of a Transform Filter remains the same size of the `inputImage`. Is this an expected result? Because I expected the `outputImage` size to be bigger or smaller according to the Transform applied.

Reading the code, I saw that it may be intentional since the `MTIRenderPassOutputDescriptor` and `MTIRenderCommand` are constructed with `inputImage` size. However, if that's the case ho

[2018-09-06 17:02] YuAo commented on #43
Try long press？

[2018-09-06 17:18] YuAo commented on #44
The transform filter SHOULD have at least two output modes. 1. Output a image with the size of the input image. 2. Output a image with the size of the Minimum Enclosing Rectangle of the transformed image.

Currently only mode 1 is implemented.

I’ll try to add some other output modes to the transform filter, stay tuned.

[2018-09-17 06:10] #43 closed

[2018-09-17 08:02] SerjPridestar commented on #44
Hello @YuAo, I was wondering if I could help out with the additional output modes? I have never implemented Metal code, but I'm pretty sure I could pull it off with some direction and guidance. I'll gladly work on it and submit a Pull Request

[2018-09-17 08:58] YuAo commented on #44
Added a `viewport` property on the transform filter. See 30a46e86d675b819ee74496fc5d11dca7febb922

If you'd like to use the Minimum Enclosing Rectangle mode. Set the `viewport` property to the filter's `minimumEnclosingViewport` property after you set the `transform`.

[2018-09-17 08:58] #44 closed

[2018-09-18 07:39] SerjPridestar commented on #44
@YuAo I will read over the code and try out the new output mode right now! No need for thanking me I did absolutely nothing. Thank you for implementing it and thank you for the great work you have done! <3

[2018-09-19 10:33] iOS-altima opened #45 "Running on iOS 10 simulator issue"
I know that iOS simulator doesn't support Metal.
But I need to test other features on iOS 10 simulator and can't start app.
On iOS 11 and iOS 12 simulators app starts.

I get this error:

[code]
 How can I fix this?

[2018-09-20 00:37] erpapa commented on #45
simulator is not support.

[2018-09-21 02:46] YuAo commented on #45
There seems no easy fix for this issue. Apple did not ship "MetalPerformanceShaders.framework" with the iOS 10 simulator. The only way to resolve this issue is try not to link that framework, which involves  lots of code change and conditional compile directives.
I'll look into this when time permits.

[2018-09-25 03:01] iOS-altima commented on #45
Thank you!

[2018-10-04 15:22] obs1dium opened #47 "Using non-default samplers"
I've been playing around with the lens blur filter and noticed that it tends to produce ugly artifacts near the image edges, especially when using a large blur radius.
Using samplers with their address mode set to 'mirror repeat' alleviates this.
However, simply setting the input images sampler is insufficient, as the filter generates intermediate images which appear to fall back to the default sa

[2018-10-05 05:29] YuAo commented on #47
Lens blur filter is not so much tuned so there may be other problems. The main idea is based on https://colinbarrebrisebois.com/2017/04/18/hexagonal-bokeh-blur-revisited/

I think both way is ok. I personally prefer the “fowarding” way. It gives the caller an opportunity to choose a different address mode (maybe clamp_to_edge works well too?)

You can send pull requests if you’d like to refine the

[2018-10-05 09:43] obs1dium commented on #47
I think 'clamp to edge' is the default, 'mirrored repeat' is really the only address mode that minimized edge artifacts for me.

[2018-10-05 16:30] YuAo commented on #47
The default sampler address mode of MTIImage is “clamp to zero”. We think this is the most logical default address mode - when you read a pixel outside a image you get zero.

[2018-10-05 16:30] #47 closed

[2018-10-05 16:47] obs1dium commented on #47
Ah, you're right, I was looking at the Metal language specs, not the MTISamplerDescriptor implementation.

[2018-10-08 08:55] SerjPridestar opened #49 "Memory issue"
Hello Yuao! Hope you are doing good!

As you might remember, I was experimenting using MetalPetal to generate a video asset from a set of images. I added a feature to it where on completion the class returns all the images it used to render the video for any post processing video needs. I used `let cgImages = try images.map({ try self.context.makeCGImage(from: $0) })` after that code is executed I

[2018-10-08 09:54] YuAo commented on #49
Try add `context.reclaimResources()` after `makeCGImage`?

[2018-10-08 11:36] SerjPridestar commented on #49
I tried adding it still the problem persists after I finish generating all the CGImages:

[code]

I don't think I have different sizes in my render pipeline, since I take all the images and crop and transform them all to the same size and then call the `context.render(image, to: pixelBuffer)`. I did this for the same exact reason you mentioned, I wanted the rendering to be more performant and use

[2018-10-09 04:38] YuAo commented on #49
The situation here is a little bit weird, I may need some more time to investigate.

[2018-10-09 07:35] SerjPridestar commented on #49
Alright! If you need anything or I could do anything to help please do inform me! Again thank you very much!

[2018-10-09 10:41] SerjPridestar commented on #49
@YuAo I'll give it a shot right now. Good job digging and finding the problem, I spent a day on it and couldn't find the main problem.

Is it the same with the `context.render(image, to: pixelBuffer)`? The call to that increments a gradual increase in memory. Maybe I'm wrong, but to me there shouldn't be a limitation on how many images you can draw to the `AVAssetWriterInputPixelBufferAdaptor`.  I

[2018-10-09 11:21] YuAo commented on #49
Yes, it is the same with `context.render(image, to: pixelBuffer)`.

[2018-10-09 11:39] SerjPridestar commented on #49
@YuAo I also did some extra digging, also having the `PHCachingImageManager.requestImage` makes a significant difference in memory. It seems that UIImage is an uncompressed version of the Data, so dealing with 4k resolution images this can make a major difference. Now I'm using `PHCachingImageManager.requestImageData` instead. The downside of this, is you use up more processing time orienting the

[2018-10-11 08:05] SerjPridestar commented on #49
Hello Yuao! I tried the improvements and great news the memory drops significantly and everything works as expected! Before the improvements after finishing exporting the memory would stay at around 324 mb, after improvements the memory is reclaimed and the memory is at 115 mb.

I think it is safe to close this issue for now!

Moreover, I agree about your opinion about adding `MetalPetalVideoGener

[2018-10-11 08:20] SerjPridestar commented on #49
Only thing I noticed right now as you suggested instead of returning `CGImage/UIImage`s, I tried `CIImage`, not sure if it is a compressed version, but memory stays at 800 mb; on the other hand, `CGImage` after export has its memory stay at 400 mb. I did make sure to reclaim resources after 1.1s after generating the `CIImage`s

[2018-10-11 10:10] YuAo commented on #49
`CIImage` may contains compressed or uncompressed image data.
The suggestion is to use compressed image data, like JPEG.

[code]

[2018-10-11 10:10] #49 closed

[2018-10-11 11:15] SerjPridestar commented on #49
@YuAo do we still need to call `self.context.reclaimResources()` after 1.1 seconds?

[2018-10-11 12:11] SerjPridestar commented on #49
@YuAo for some reason if I don't reclaim resources after 1.1 seconds after generating the compressed images the memory isn't dropping. However, for the `try self.context.render(image, to: pixelBuffer)` it seems to be working fine.

[2018-10-11 13:19] SerjPridestar commented on #49
It's all good now. After a lot of experimentation, I realized keeping a reference to the `MTIImage` is what was making the memory increment and not being able to `reclaimResources()`. So when I got done rendering the image to the video and tried to create the compressed image data, there wasn't enough memory to do that. Thus, I realized its best after I'm done with rendering the `MTIImage` I direc

[2018-10-12 02:02] YuAo commented on #49
A `MTIImage`'s `cachePolicy` tells the `MTIContext` how it should handle the rendered buffer of that image. You can keep the `MTIImage` around, just make sure its cache policy is `.transient`.

[2018-10-12 07:52] SerjPridestar commented on #49
@YuAo  Eventhough I had all the `MTIImage`s using the cache policy `.transient` having them in memory around they were using up a large amount of memory.

I changed the whole algorithm to be on demand basis. So I only create an `MTIImage` only when the time comes to render that `ImageData`.

In my opinion I don't I think it's `MTIImage` using up the memory per-say rather than the `CIImage`.  What

[2018-10-19 22:38] iOS-altima commented on #45
@YuAo Check, please, could https://github.com/xmartlabs/MetalPerformanceShadersProxy be useful for this fix?

[2018-10-22 03:17] YuAo commented on #45
Nop.

[2018-10-22 03:20] YuAo commented on #45
No.

[2018-10-22 06:13] YuAo commented on #45
Fixed. (in version 0.9.5)

[2018-10-22 06:13] #45 closed

[2018-10-22 06:14] YuAo commented on #45
Fixed. (in version 0.9.5)

[2018-10-22 07:32] erpapa opened #50 "MTI_DEFER is hard to understand."
Can you remove this macro and rewrite it?

[2018-10-22 08:38] YuAo commented on #50
The implementation relies on variable attributes "cleanup". Ref https://gcc.gnu.org/onlinedocs/gcc/Common-Variable-Attributes.html (Search for "cleanup_function").

Projects like https://github.com/jspahrsummers/libextobjc (`@onExit`) and https://gist.github.com/steipete/624b4dbafc79d13ac8dade04f5eec407 use this technique as well.

What's your suggestion about "rewrite"?

[2018-10-23 02:56] erpapa commented on #50
Thanks, Swift Defer Statement, Objective-C implementation.

[2018-10-26 09:48] YuAo commented on #31
Done. Ref 3a6e5deba519d1b62f2a12ac46790a59f5166efd

[2018-10-26 09:48] #31 closed

[2018-11-06 03:03] ayon115 opened #51 "Crash on Applying Overlay Filter"
I am trying to apply Overlay filter on a video with Metal Petal. Here's my code snippet.

    `let mtiWatermarkImage = MTIImage(ciImage: waterMarkImage, isOpaque: false)
                let mtiFilter = MTIBlendFilter(blendMode: .overlay)
                mtiFilter.inputImage = mtiWatermarkImage

                let vcom = AVMutableVideoComposition(asset: composition) { request in

[2018-11-06 05:47] YuAo commented on #51
Blend filters only accept images with unpremultiplied alpha. However a non-opaque CIImage based MTIImage's alpha type is premultiplied. You can either create the `MTIImage` with `MTICIImageRenderingOptions` and set the `alphaMode` to be `CIRenderDestinationAlphaUnpremultiplied`, or use `mtiWatermarkImage.imageByUnpremultiplyingAlpha()` to get a `MTIImage` with unpremultiplied alpha.

[2018-11-06 05:47] #51 closed

[2018-11-06 08:54] ayon115 commented on #51
Thank you very much @YuAo . Really appreciate your input on this.

[2018-11-06 09:18] omarojo opened #52 "Why is MetalPetal written in Objective C ?"
Hi thank you for developing this amazing framework, making our lives way more easy.

As I start moving to Metal because of OpenGLES deprecation by Apple. I looked into GPUImage3 and MetalPetal. But I realized that MetalPetal is written in ObjectiveC, I wonder if there is a specific reason why is that, since Swift is meant to be the future of Apple software development.

I cant help to wonder, what

[2018-11-06 12:54] ayon115 commented on #51
Sorry to bother again. It works after I made both images unpremultiplyingAlpha. And processing time is pretty good. But problem is, after exporting is complete, the result video is just black screen. Xcode shows this error, "Cannot render image (with an input Metal texture) using a opengles3 context".

[2018-11-06 16:02] YuAo commented on #51
Try to pass the mtiContext.coreImageContext to request.finish(with: image, context: ...).

[2018-11-07 16:56] omarojo commented on #52
Thank you for your well versed response.
Appreciated.

[2018-11-11 17:14] ayon115 commented on #51
Hi @YuAo, I am having a problem regarding my last conversation. I am using this to apply filter on video and things is pretty fast and working as expected for landscape videos. However, I am having a weird issue when I process any portrait mode video from iOS camera. It's throwing the following error when trying to generate CIImage from MTIImage.

[code]

My code snippet is below.

[code]

I would

[2018-11-12 18:45] omarojo opened #53 "How to access the drawInMTKView cycle from MTIImageView class"
In your Demo "ImageRendererViewController.m" you use the method `draw(in view: MTKView)`
in order to re-draw the filtered image and have an animation (ie. saturationAndInvertTestOutputImage() ).  For that to work, you use a `MTKView`

But in the `CameraViewController.m` you use `MTIImageView` for rendering the frames by simply assigning the _.image_ var to it.

I wanna use MTIImageView both for Ca

[2018-11-13 07:05] YuAo commented on #53
`MTIImageView` is designed to display a `MTIImage` like a `UIImageView`. The internal render view (`MTKView`) is set to paused, so even if you can access the `drawInMTKView` method in `MTIImageView`, it will not be called at a fixed interval.

If you'd like to animate something you can use a `CADisplayLink`, or just like the `ImageRendererViewController` demo, use a `MTKView` directly. As you can

[2018-11-13 07:05] #53 closed

[2018-11-13 12:12] zhuhuihuihui opened #54 "Image rendered from Camera Roll photo in wrong orientation"
I'm getting different result rendering image locally and from camera roll. Very strange, I've confirmed that they're both showing correctly in a standard UIImageView

Here's the code to create and render MTIImage
[code]

When UIImage is loaded locally, the result in correct orientation like this:
![](https://i.imgur.com/mt87leR.jpg)

When UIImage is loaded from camera roll, like this,
`self.testMT

[2018-11-14 02:56] YuAo commented on #54
`UIImage`s have an `imageOrientation` property while `CGImage`s do not. So if you use the `cgImage` of an `UIImage` directly you may lose the orientation info.

It's not a problem with MetalPetal. If you simply use an `UIImage`'s `cgImage` to create another `UIImage` (`let image = UIImage(cgImage: testImage.cgImage)`) the result should be the same.

To fix the problem. You can:
A. Rotate the `cgIm

[2018-11-14 02:56] #54 closed

[2018-11-15 08:30] zhuhuihuihui opened #55 "How to use this framework to create Instagram like filters"
I've tried bunch of different filters. But none of them works like instagram filters directly. I believe it is possible to create instagram like filters using this framework. Any suggestions?

Thanks!

[2018-11-15 09:05] YuAo commented on #55
Instagram filters are more likely the combination of many basic operations. (color adjustments, overlays, algorithms like CLAHE, etc).

MetalPetal contains these basic operations. How to combine them to create wonderful filters is totally up to you.

You can start with "Color Adjustments" by using a color lookup table (with `MTIColorLookupFilter`).
Refs:
https://github.com/MetalPetal/MetalPetal/bl

[2018-11-15 09:05] #55 closed

[2018-11-16 04:30] omarojo commented on #40
@kallipigous hey man just wanted to say thank you very much for sharing your implementation. It works pretty nice. Will see later when using other filters but so far so good :)

[2018-11-16 05:41] omarojo commented on #54
@zhuhuihuihui I had the same issue, but looking into StackOverflow found this.
You can create a ***UIImage+OrientationFix.swift*** file with the following and call .fixOrientation() before
using your image.cgImage in MetalPetal.

**ie.**
[code]

***UIImage+OrientationFix.swift***
[code]

[2018-11-16 17:11] kallipigous commented on #40
Lovely. Let me know if you spot anything. It seems to work for me processing with a long array of filters.

[2018-11-17 10:02] zhuhuihuihui commented on #54
@omarojo yeah, that's exactly what happened.

For people who are experiencing the same issue. If you're using 'UIImagePickerController' to get photos from camera roll, there's a chance that the image returned will be in wrong orientation. However if you just load that image into 'UIImageView', you won't notice it because 'UIImageView' somehow handles the orientation automatically for you. But if y

[2018-11-17 11:16] zhuhuihuihui opened #56 "Memory bump after loading MTKView"
I've tried my best to follow the best practice, but I'm still experiencing a big memory bump after loading MTKView using MetalPetal.

The image itself that I loaded from camera roll is about 1.9MB. When not using MTKView/MetalPetal, just load the photo into a standard 'UIImageView', the app uses 87MB in memory. As soon as I replace the 'UIImageView' with MTKView, the memory instantly bump to 1.59G

[2018-11-18 16:52] YuAo commented on #56
What’s the pixel size of the image you are trying to process?

It seems you are doing lots of unnecessary redraw. MTKView typically draws at 60 frames per second. Are you trying to animate the image? If not, try using MTIImageView or set the isPaused property of MTKView to true.

You can also try context.reclaimResources() after each draw.

[2018-11-19 15:59] zhuhuihuihui commented on #56
Thanks for your response YuAo!

I'm using a standard photo taken by an iPhone, its pixel size is 4032 × 3024

Setting `isPaused` is a great idea. It helped me a lot on saving CPU usage, since now I can re-render only when user decide to change/adjust their filters. I can feel it's not burning my phone anymore. Thanks!

On the other side, I think `context.reclaimResources()` is not helping on savin

[2018-11-20 04:56] zhuhuihuihui commented on #56
Do you know any software that can handle this conversion? And also what is an identity 512x512 CLUT image? I tried to search for one, but I'm not confident on the searching result. Sorry I have very little experience on this field.

[2018-11-20 12:01] YuAo commented on #56
Open source softwares like ImageMagick, GIMP, etc can handle HaldCLUT. Ref: https://rawpedia.rawtherapee.com/Film_Simulation

Here's one 512x512 CLUT: https://github.com/BradLarson/GPUImage/blob/master/framework/Resources/lookup.png

[2018-11-22 14:41] iOS-altima commented on #45
Thank you!

[2018-11-22 14:50] iOS-altima opened #57 "8 Warnings"
Hi! I have 8 warnings like:
no rule to process file '<my path>/Frameworks/MetalPetal/Shaders/BlendingShaders.metal' of type 'sourcecode.metal' for architecture 'x86_64' (in target 'MetalPetal')

Could you fix this or provide any suggestions?

[2018-11-23 03:05] YuAo commented on #57
Xcode does not compile the .metal files for the simulator. You can safely ignore these warnings, since metal code won't run on a simulator.

[2018-11-23 03:05] #57 closed

[2018-11-24 09:38] iOS-altima commented on #57
@YuAo I tried, not, app won't work in this case.
I found such solution:
https://stackoverflow.com/questions/46254475/ignore-metal-files-when-building-for-ios-simulator-target
But it requires changes in code.
What do you think, about of implementing this solution?
We keep our project free of any warnings and this 8 warnings quite ennoying.

[2018-11-30 03:54] YuAo commented on #56
Looks like your drawable is taking up too much memory. The frame size of your MTKView instance is 4032x3024, and the content scale factor is 3 on iPhone X. So one drawable will take 400MB+ memory. A MTKView will make 2-4 drawables for reuse so your memory bumps up to 1.5GB.

I don't think you need a view that big.

BTW, you can use `MTIImageView` to display a `MTIImage`. You can take a look in its

[2018-11-30 03:54] #56 closed

[2018-11-30 05:58] zhuhuihuihui commented on #56
Hi @YuAo

Thanks for the response. The reason why I need a view with that big frame size is because I'm using it in a scrollview so that the image itself is zoomable, and to archive that I have to frame the  ImageView/MTKView with image's original size which is 4032x3024. Do you think MTIImageView could address this situation?

The thing that I don't understand is why would one drawable takes 400M

[2018-11-30 06:50] YuAo commented on #56
width (4032) * contentScaleFactor (3) * height (3024) * contentScaleFactor (3) * bytesPerPixel, bgra (4) = 4032 * 3 * 3024 * 3 * 4 =  438,939,648 = 418.60546875 MB

A `UIImageView` uses a different approach, it just send what it needs to draw to the render server. You can also make use of this by make a `CGImage` from a `MTIImage` and display that image using an `UIImageView`.

Also, if you just r

[2018-12-03 09:56] YuAo commented on #29
Close due to no plan of implementing, currently.

[2018-12-22 18:28] GustasBr opened #58 "Crashing when applying multiple filters"
The only problem I have now is that I can't apply two built in filters on the same photo at the time.
I think it's just that I'm doing something wrong. Here's how I do it:

[code]

        guard let photoEffectTwo = image1 else { return }
        guard let cgImage2 = photoEffectOne.cgImage else { return }
        let filter2 = MTIExposureFilter()
        filter2.exposure = 0.8
        filter2.inpu

[2018-12-23 07:12] YuAo commented on #58
Where does the code crash? Any error message?

[2018-12-25 18:17] GustasBr commented on #58
I only get Thread 1: Signal SIGABRT. My all of the outlets are connected so I don't know why it's crashing on this. If I'm editing only one time then everything works fine. Anyway, it's hard to understand this issue so I added my project.
[SimplyPerf 2.zip](https://github.com/MetalPetal/MetalPetal/files/2708948/SimplyPerf.2.zip)

Also, one more question. (i don't want to spam ant add other new thr

[2018-12-26 03:08] YuAo commented on #58
I suggest you to add an "Exception Breakpoint", and update MetalPetal to the newest version.

The project triggers a NSParameterAssert, which indicates you there's some alpha type handling problem. Specifically, the color lookup filter only accepts non-premultiplied alpha type image, how ever the input image here may have a premultiplied alpha.

You can easily fix this problem by adding `.unpremul

[2018-12-27 02:45] YuAo commented on #58
I've exported the color lookup table to Photoshop and apply it to the image you provided. Got the same  buggy result. It seems there's something wrong with the color lookup table image itself. There are visible artifacts along each color lookup plane, these edges should be smooth. Did you resize or compress the color lookup table?
*Yours*
<img width="452" alt="screen shot 2018-12-27 at 10 39 46 am

[2018-12-27 02:45] #58 closed

[2018-12-27 21:57] GustasBr commented on #58
@YuAo Also, how I could manage my memory when applying multiple filters? I think I'm using really bad technique when doing something like that below. When I'm playing with low resolution photo it's alright but when saving a full resolution photo then I get memory issues.

`func mainTask(completion: (_ success: Bool) -> Void) {
        // Do something
        guard let thumbnail2 = image else { ret

[2018-12-28 02:06] YuAo commented on #58
The trick here is try not to render if possible. You render every task to a CGImage, that makes MetalPetal hard to reuse the intermediate texture (because you render them out and create CGImages). You can try to make you tasks create `MTIImage`s instead of `CGImage`s, and render that `MTIImage` only if you need to save the image to disk or display that image on your UI. After each render you can c

[2018-12-28 12:45] GustasBr commented on #58
Amazing.. Works like a charm! Thank you so much, I hope I will not bother you more with my questions.

[2019-01-22 10:19] YuAo commented on #29
Implemented https://github.com/MetalPetal/MetalPetal/commit/8623f896a3236fd230ac6c3e748d2c203bd3e727

[2019-01-22 10:19] #29 closed

[2019-01-23 11:42] d1xlord opened #60 "EXC_BAD_ACCESS: Crash when applying custom CIKernel-Filters"
I have been trying to write CIFilters which uses custom CIColorKernel underneath and apply the effect on the live camera feed. I bumped into this memory-access crash while trying to switch between two filters specifically when one is using the alpha channel value in return and is using a static 1.0 value as alpha.
The crash is happening here
`[renderingContext.context.coreImageContext startTaskToR

[2019-01-23 13:05] YuAo commented on #60
Can you please attach the complete call stack for the crash?

[2019-01-23 13:47] d1xlord commented on #60
[code]

[2019-01-23 15:10] YuAo commented on #60
It seems to be a bug of metal debugger. You can try a release build, or detach your device from Xcode and see if the crash still happens. You can also try to disable metal debug layer in your project scheme settings, there’s a “Metal API Validation” option, set that option to “disabled”.

[2019-01-25 12:49] obs1dium opened #61 "CLAHE filter not working on older devices?"
Hi,

I'm currently playing around with the CLAHE filter, plugged it into the camera part of the demo app, it's working nicely on a recent iPhone running iOS 12.
However, on older devices (iPad mini 2, still on iOS 10, and an iPhone 5s running 12.1.3) I'm hitting a runtime assertion.
In the resolveWithContext method in MTICLAHEFilter.m, the kernelState.histogramKernel property appears to be nil.
Ba

[2019-01-25 14:48] YuAo commented on #61
CLAHE is only supported on devices support MetalPerformanceShaders. You can query the device's support by calling `MPSSupportsMTLDevice` or `MTIContext.defaultMetalDeviceSupportsMPS`.

However CLAHE filter should report `MTIErrorMPSKernelNotSupported` instead of assertion failure. This is an issue and I'll fix that ASAP.

[2019-01-25 14:48] #61 closed

[2019-01-25 14:53] obs1dium commented on #61
Of course, that would explain it! Thanks!

[2019-01-25 15:19] YuAo commented on #61
Fixed https://github.com/MetalPetal/MetalPetal/commit/4cab6166556d75f59976dff137920453ff69c18a

[2019-01-26 04:06] YuAo commented on #61
Here's an article about the implementation of the CLAHE filter.
https://github.com/YuAo/Accelerated-CLAHE

If you're interested. @obs1dium

[2019-01-26 10:45] obs1dium commented on #61
Very interesting, thanks!

[2019-01-29 00:46] #60 closed

[2019-02-04 04:36] YuAo opened #62 "sRGB/linearRGB workflow support"
- [x] Verify current sRGB/LinearRGB settings. Ref ade9086a6304588429bef5893c5e4f0fe5c6fb6b 5634283a4c7c9d04a24b90afd7cad9a5f3e7ad17

- [x] macOS sRGB/LinearRGB conversion support. Ref c262dc5887f2e207dd305d6cdb2a0c9bad90e378 12b746e95fdb347c70a1352e614424b9861efd7b 6e7673e7ac8c03a1898f7a1eea6e07f2018a3a0a

- [x] Color matching CGImage. #181

~~Color Lookup Filter RGB color space support.~~ （Use `M

[2019-02-11 21:58] omarojo opened #63 "Failed to render image (Fritz.ai)"
Hi YuAo,

Im trying to render CVPixelBuffers coming from a style transfer framework called Fritz.ai
[code]

I can preview **stylizedBuffer** in the Xcode debugger and the image looks fine. But once I try to render, it fails.

`<MTIImageView: 0x141dbf580; frame = (0 0; 375 812); autoresize = W+H; layer = <CALayer: 0x282bf0ec0>>: Failed to render image <MTIImage: 0x283187200; width = 480; height = 6

[2019-02-12 02:14] YuAo commented on #63
If you lookup `MTICVMetalTextureBridgeErrorDomain`, you'll see error `1001` is `ImageBufferIsNotBackedByIOSurface`.

It seems the pixel buffer is not backed by an IOSurface, so it cannot be used to create a metal texture directly.

You can try using the CoreImage to render that buffer. Using `MTIImage.init(cvPixelBuffer pixelBuffer: CVPixelBuffer, renderingAPI: MTICVPixelBufferRenderingAPI, alphaT

[2019-02-12 02:14] #63 closed

[2019-02-12 04:07] omarojo commented on #63
Thank you 👍 ... I used:

MTIImage(cvPixelBuffer: pixelBuffer, options: MTICVPixelBufferRenderingOptions.init(renderingAPI: MTICVPixelBufferRenderingAPI(rawValue: 2)!, sRGB: false), alphaType: .alphaIsOne)

That worked fine.
I wonder if that is less efficient or if it affects negatively the performance. Im using an iPhoneX and runs pretty well. But I just wonder...

[2019-02-12 05:56] YuAo commented on #63
Yes it is less efficient than a IOSurface backed pixel buffer. But you should still be able to run that in real-time.

BTW, you can use `.coreImage` instead of the raw value thing `MTICVPixelBufferRenderingAPI(rawValue: 2)!`

[2019-02-15 16:04] AA-BMDI opened #64 "iPhone 5s GPU hang (IOAF code 3)"
Trying to apply MetalPetal filters on a prerecorded video, works on every device tested except the iPhone 5s - When I run, I get this logged

`Execution of the command buffer was aborted due to an error during execution. Caused GPU Hang Error (IOAF code 3)`

and nothing appears on the screen.

I'm grabbing each frame of the video using a CADisplayLink.
Here's my code.
the renderView I'm applying t

[2019-02-15 18:57] YuAo commented on #64
What is the MetalPetal version you are using? And what are the filters you use?

Can you attach a project/code that can reproduce this problem.

[2019-02-17 05:52] donobono commented on #64
I experienced similar situation. I could fix this problem using kCVPixelFormatType_420YpCbCr8BiPlanarFullRange instead of kCVPixelFormatType_32BGRA.
Actually I have no idea exact reason of this, I just compared the metalPetal sample and my project when camera is started.

I tested metalPetal sample with kCVPixelFormatType_32BGRA, same error was occurred.

[2019-02-17 06:06] YuAo commented on #64
I do not have an iPhone 5s at hand currently. Will investigate tomorrow.

[2019-02-17 06:25] donobono commented on #64
I tested with iPad mini 2nd gen and iPad Air. There is no problem in iPhones and iPad Pro 12.9 inch device.

[2019-02-17 06:56] YuAo commented on #64
Can you try to change the `_coreVideoTextureBridge` initialization part in `-[MTIContext initWithDevice:.....]` method to use `MTICVMetalTextureCache` only.

Change:
[code]

to

[code]

Then test and see if the problem still exists.

[2019-02-17 12:21] donobono commented on #64
After changing, I tested.
Unfortunately, the result is same. Still errors are occurred.

[2019-02-18 01:46] migueliOS opened #65 "Any plans to add ARKit compatibility"
Is there any way to integrate something similar to this
https://developer.apple.com/documentation/arkit/displaying_an_ar_experience_with_metal

Or
https://developer.apple.com/documentation/arkit/creating_face-based_ar_experiences

[2019-02-18 02:53] YuAo commented on #65
MetalPetal is not going to develop to a full feature 3d engine.
However it is very easy to integrate SceneKit with MetalPetal. You can use SceneKit to render the ar scene, for every frame you can tell SceneKit to render that scene to a CVPixelBuffer. Then you can use the CVPixelBuffer with MetalPetal.

Here's a sample scene renderer that render a SCNScene to a CVPixelBuffer.
[MTISCNSceneRenderer.z

[2019-02-18 05:59] migueliOS commented on #65
That sounds great, thank you.  I will play with this proposal and see how it goes.

[2019-02-18 06:12] YuAo commented on #65
The idea is very similar with https://github.com/YuAo/YUSCNSceneCIRenderExtension , for your reference, but it comes with Metal.

[2019-02-18 09:22] AA-BMDI commented on #64
I tried @donobono 's solution of changing the Pixel Format and it worked. I'll try implement @YuAo solution to see if I can get that working. Cheers.

[2019-02-18 10:57] YuAo commented on #64
@AA-BMDI  That is irrelevant... I tried the solution myself and it does not work. It seems the YCbCr texture upload is way faster than BGRA texture upload on some old devices. Investigating...

[2019-02-18 12:51] YuAo commented on #64
@AA-BMDI @donobono

After some investigation. It turns out that the cause of this issue is using `CVMetalTextureCahce` or `IOSurface` to bind a CVPixelBuffer with BGRA pixel format to GPU on old devices.

Create a normal metal texture then use `replaceRegion` to fill in the CVPixelBuffer's content is "ok". However this will render heavy CPU usage because the system needs to copy the image data to

[2019-02-19 06:32] YuAo commented on #64
@AA-BMDI @donobono

Added a workaround for this issue. https://github.com/MetalPetal/MetalPetal/commit/ef890162a9941534909f78a2f980a2df1b4e2a6e

The idea is to use a blit command encoder to copy the CoreVideo texture to another metal texture. Don't know why this can resolve the issue, however, this seems to be the cheapest (in performance) workaround.

This issue only happens on Apple A7 chips (iP

[2019-02-19 06:32] #64 closed

[2019-02-20 10:36] omarojo opened #66 "Is it possible do Download Filters from the cloud ?"
I was wondering if there is a way to implement Metal Shaders downloaded from a server.
Im trying to get my head around how .metal files work. but Im not sure if this could be possible. Any insights or ideas for a possible implementation ?

[2019-02-20 12:00] YuAo commented on #66
It is possible. You can download the `.metallib` contains the shader from the server. You can even download a `.js` file and load the filter logic in that file. See https://github.com/MetalPetal/MetalPetalJS

[2019-02-20 12:00] #66 closed

[2019-02-24 10:39] YuAo commented on #65
Integrated SceneKit support into the framework. 58abfe1f79ba673f7804c28ba9c8b04765fefcec

After a few lines of code, we are able to directly integrate SceneKit's renderer into MetalPetal. You can now create a MTIImage from the SCNScene directly, without using a pixel buffer. Better performance and memory usage.

See the "Working with SceneKit" demo. https://github.com/MetalPetal/MetalPetal/blob/ma

[2019-02-24 10:39] #65 closed

[2019-02-24 20:52] migueliOS commented on #65
That is amazing. Thank you, cant wait to try it.

[2019-02-25 03:06] hoangdado opened #67 "MTIColorLookupFilter error result"
I test the MTIColorLookupFilter with the default lookup image [lookup.png](https://github.com/BradLarson/GPUImage/blob/master/framework/Resources/lookup.png) on Iphone 6 iOS 9.3.1 but the result image was strange as below image. When I tried to test on Iphone 6 iOS 12.0 the result was correct as I expected. Please help me to fix it!
![photo_2019-02-25_10-00-45](https://user-images.githubuserconten

[2019-02-25 09:29] ZkHaider opened #68 "Convert SurfaceBlur kernel to custom filter in MetalPetal"
How would I go about converting the following custom kernel to a metal petal filter in a pipeline?

[code]

☝️ The following kernel exists in your old repo `Vivid` and I'd like to move into a `.metal` file. You were also computing the gaussian weights during runtime and injecting it via a string which is probably not efficient.

[2019-02-25 14:21] YuAo commented on #67
The “MTKTextureLoader” load images upside down on iOS9. You can use the custom texture loader in MetalPetal to fix this. See
https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/MTITextureLoaderForiOS9.h

[2019-02-25 14:21] #67 closed

[2019-02-26 06:26] omarojo opened #69 "Custom Filter: parameters() method in Swift wont get called"
Im making a custom filter subclassing **MTIUnaryImageRenderingFilter**
But the parameters method is not called like in the Pixellate example.

Im getting:
```validateFunctionArguments:3469: failed assertion `Fragment Function(prismoj): missing buffer binding at index 0 for time[0].'```

Here's the filter class:

import UIKit
import MetalPetal
[code]

I actually would like to pass **time** as a Flo

[2019-02-26 06:36] YuAo commented on #69
The `parameters` is a "property" not a method.

[2019-02-26 06:36] #69 closed

[2019-02-26 06:40] YuAo opened #70 "Documentation"
- [x] Parameter passing
- [ ] SRGB/LinearRGB #62
- [x] More examples and screenshots
- [x] SceneKit integration
- [x] iOS 9 texture loader
- [x] JavaScript extension

[2019-02-26 07:00] omarojo commented on #69
So right !!! Thank you :)

[2019-03-01 00:46] MarkShippen opened #71 "Bulge Distort Feature Request"
Hi,

I would like to request a new type of filter for "Bulge Distortion".

Basically the filter is broke into 2 filters

Bulge FIlter 1
==========

Input a point & radius onto an image where by all pixels within the radius stretch towards or away from the centre point based on a factor which adjusts the stretchiness of the bulge based on distance from the centre

Input Parameters
-----------------

[2019-03-01 02:28] YuAo commented on #71
We already have the "Bulge FIlter 1" https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/Filters/MTIBulgeDistortionFilter.h

[2019-03-01 02:54] MarkShippen commented on #71
Oh Yeah, Great! I see it was added 15 days ago ... Would it be possible to make the 2nd Filter on the request? ( Bulge along a line instead of the centre of the radius )?

[2019-03-01 03:40] YuAo commented on #71
Super busy these days. Will look into that when time permits. However it is easy to implement that yourself if you could just follow the implementation of MTIBulgeDistortionFilter and do some math.

[2019-03-04 08:30] ZkHaider commented on #68
@YuAo how would you suggest I go about tackling this myself?

[2019-03-05 03:43] YuAo commented on #68
You can try to just convert the shader code to metal shader code. Subclass MTIUnaryImageRenderingFilter. Using `MTIVector` to pass GAUSSIAN_WEIGHTS as `device float *`.
 Pass SAMPLES_COUNT as Int32. To improve performance, consider using function constants to pass the SAMPLES_COUNT value.

[2019-03-05 04:32] ZkHaider commented on #68
I believe a `CIColorKernel` is different from say `fragment float4 function(...)` in Metal. Wouldn't the performance be subpar in a fragment shader given the two for loops you are utilizing?

Thanks for the update YuAo.

[2019-03-05 05:52] YuAo commented on #68
For the first question, yes, however they share the same idea. A `CIColorKernel` and a fragment shader both run once per pixel, and you need to return the new color for that pixel.

For the second one, the two loops will be a performance subpar, unless you made the loop counter `kSize` a function constant. Making the loop counter a function constant allows the back-end shader compiler aware of the

[2019-03-12 03:57] YuAo commented on #71
@MarkShippen

I'm not sure about adding the `Bulge Filter 2` filter to the MetalPetal library. It is more like a filter fits your particular needs than a "general"/"standard" filter. For now, I think it's better to implement this filter in your own app/library.

Nevertheless, here's the shader code you need.

[code]

[2019-03-12 03:57] #71 closed

[2019-03-12 05:37] MarkShippen commented on #71
Ok, Thanks Really appreciate it!

[2019-03-19 11:53] YuAo commented on #68
@ZkHaider take a look at https://github.com/MetalPetal/SurfaceBlur

[2019-03-19 12:08] #68 closed

[2019-03-21 01:00] XieLinhua opened #72 "Is possible to render to MTLTexture?"
Hello, MetalPetal is a high performance image filter. Currently, it supports to render to CVPixelBuffer, render to MTKView.  I try to render to MTLTexture, but I failed. Could you please give me any suggestions?

Many thanks!

[2019-03-21 02:47] YuAo commented on #72
With the current implementation, the best way to get the `MTLTexture` from a `MTIImage` is to first render that image to a `CVPixelBuffer`, then create a `MTLTexture` from the `CVPixelBuffer` using `IOSurface`.

[code]

There's some overhead, but should be very low.

BTW. Can you explain your use case here? How you'd like to use the texture? Maybe we can find a more suitable/efficient way.

[2019-03-21 03:15] EvanXieCN commented on #72
@YuAo Thanks for your so quick reply.  My use case is: I use **MetalPetal** to add filters for the camera 4K CVPixelBuffer output, then render filtered MTIImage to the SCNNode material texture.

For example:

[code]

When MetalPetal finishes filtering pixelbuffer, then render to sphereTexture, the SCNView can display the final effect.

[2019-03-21 09:42] EvanXieCN opened #73 "[MTIVertex]Can I custom the vertices data passing to vertex shader?"
MTIVertex contains `position` and `textureCoordinate `, in my case, I need add one more component `color`, is it possible?
[code]

[2019-03-21 11:16] YuAo commented on #73
Yes, just create a class that implements `MTIGeometry` protocol. Use `MTIRenderCommand` to create draw calls and `MTIRenderCommand.imagesByPerformingRenderCommands(....)` to filter image.

See `MTIVertex`'s implementation for reference.

[2019-03-21 11:16] #73 closed

[2019-03-21 15:04] EvanXieCN commented on #73
@YuAo Thank you very much.

[2019-03-22 04:29] YuAo commented on #72
Based on your use case. I think you can follow the suggestion I made. The `CVPixelBufferGetIOSurface ` and the `makeTexture` call should be very fast. Closing this issue for now.

[2019-03-22 04:29] #72 closed

[2019-03-28 10:23] YuAo commented on #66
@omarojo I updated the MetalPetalJS project with the downloadable renderer demo.

[2019-04-01 08:34] AA-BMDI opened #74 "Best way to export the recorded video with the metal filter applied?"
How do I export my video with the metal petal filter applied in a .mp4 file? I'm not too sure where to start.

[2019-04-01 10:28] YuAo commented on #74
Just like how you would do it normally with `AVAssetReader` and `AVAssetWriter`. Apply filter to the pixel buffer the asset reader reads out and send the filtered buffer to the asset writer.

Or use something like https://github.com/rs/SDAVAssetExportSession which has a delegate callback for you to apply your filter while export the video.

Or use `AVAssetExportSession`with `-[AVVideoComposition v

[2019-04-01 10:28] #74 closed

[2019-04-01 11:46] AA-BMDI commented on #74
Is there an example in the demo project codebase? Or do you have something you could share?

[2019-04-01 12:24] YuAo commented on #74
No. What we are using for video read/write is close source currently, I can not share that here.

https://github.com/rs/SDAVAssetExportSession is a good example. You just need to implement the delegate method `- (void)exportSession:(SDAVAssetExportSession *)exportSession renderFrame:(CVPixelBufferRef)pixelBuffer withPresentationTime:(CMTime)presentationTime toBuffer:(CVPixelBufferRef)renderBuffer`

[2019-04-09 12:20] AA-BMDI opened #75 "Main thread issues"
Essentially, as you know, in the AVCaptureVideoDataOutputSampleBufferDelegate, we apply the MTIFilter to the sample buffer, and set the MTIImageView image as the filter output image. And we do the image set on the main thread as seen below.
` DispatchQueue.main.async {
            self.renderView?.image = renderedImage
        }`

My issue is, whenever we use a collection view with horizontal scro

[2019-04-09 15:06] AA-BMDI commented on #75
@YuAo Could you give a bit more of an example for rendering in the background?

[2019-04-09 15:36] YuAo commented on #75
Oh. You use a CADisplayLink! Did you set the runloop mode to include UITrackingRunloopMode? See: https://stackoverflow.com/questions/2524347/cadisplaylink-stops-updating-when-uiscrollview-scrolled

[2019-04-09 15:49] AA-BMDI commented on #75
@YuAo , you're a hero. thanks.solved.

[2019-04-09 15:56] #75 closed

[2019-04-10 10:34] protosse opened #76 "The image from SceneKit is darker than normal"
i try to integrate SceneKit's renderer into MetalPetal and follow the demo https://github.com/MetalPetal/MetalPetal/blob/master/MetalPetalDemo/SceneKitViewController.swift
this is my code, i use ARSCNView
[code]
but i found the image is darker than normal.
![IMG_1511](https://user-images.githubusercontent.com/30048222/55871996-7668bc00-5bbe-11e9-8e1a-c2047b4bfa5b.PNG)
the normal image:
![IMG_1512]

[2019-04-10 13:48] YuAo commented on #76
How about setting the pixel format to `bgra8Unorm_srgb`?

[2019-04-11 02:00] protosse commented on #76
same result.

[2019-04-11 02:39] protosse commented on #76
later i change the renderView to GPUImageView, it is also darker.
[code]

[2019-04-11 04:29] YuAo commented on #76
Can you attach a demo project?

[2019-04-11 06:02] protosse commented on #76
[ARKitGPUImage.zip](https://github.com/MetalPetal/MetalPetal/files/3067112/ARKitGPUImage.zip)

[2019-04-11 08:14] YuAo commented on #76
SceneKit renders the scene in a linear rgb color space. You need to set the renderView's color pixel format to `bgra8Unorm_srgb`.
[code]

Or add the `MTILinearToSRGBToneCurveFilter` to the scene renderer output image.

[2019-04-11 08:14] #76 closed

[2019-04-12 08:37] omarojo opened #77 "How to share common functions between shaders"
I notice that some of your filters are wrapped inside namespaces
for example:
[code]
*Question 1*
For my shaders, Should I make individual *myShader.metal* for each shader I make and each within it's own namespace? i.e metalpetal>myshaderNamespace, Does it really make a difference making a bunch of .metal files or just 1?
`MTIFunctionDescriptor(name:, libraryURL:)` will look throughout all .metal/

[2019-04-12 09:51] YuAo commented on #77
1. The namespace thing is optional. I just use it to avoid naming conflicts, mostly from the library users.  For example, it's totally fine if you'd like to define a function named `rotm`. Because the `rotm`in MetalPetal is in the metalpetal::halftone:: namespace. So it's not recommended for you to add anything to the metalpetal namespace, it's reserved for the library.
`MTIFunctionDescriptor(name

[2019-04-12 09:51] #77 closed

[2019-04-14 08:29] omarojo opened #78 "Recommended way to share 'Time' uniform to filters"
Is very common for filters to require  'time' uniform to perform animations.
What Im doing is creating a Singleton that runs a **CADisplayLink** and increments a **time** property, so that any filter class can access it from anywhere.

**My problem:**  this works great for most of my filters, except one that internally in metal shading language runs Noise and random functions etc.. for some reason

[2019-04-14 09:18] YuAo commented on #78
Make sure you pass the time to shader as Float not Double.

[2019-04-14 09:22] omarojo commented on #78
@YuAo Im definitely passing it as Float
[code]

[code]

[2019-04-14 09:28] YuAo commented on #78
Is the display link stop triggering or just there's something wrong with the filter?

[2019-04-14 09:45] omarojo commented on #78
I believe is the DisplayLink having issues with the Main Thread. It stops triggering, then as soon as I switch to a different filter it resumes triggering. The Filter renders, because I can see myself in the camera moving even tho the displaylink is not updating time, so the filter is rendering but with a static time value.

I tried using a **Timer** instead of a displaylink, instantiating in the

[2019-04-14 09:52] YuAo commented on #78
The suggestion is to run a GPU frame capture to profile your shader.

[2019-04-14 10:21] omarojo commented on #78
Using the Timer instead of the DisplayLink Im able to make the filter render nicely.
(**with** the issue mentioned above)

and this is what I see in the Profiler.
![image](https://user-images.githubusercontent.com/995265/56091229-0332a480-5e61-11e9-961e-9a42d8085daf.png)

it looks like almost 40ms versus ~5ms of other filters. and (Tiler, Renderer, Device) Utilization goes to 100% instantly. Could

[2019-04-14 13:52] YuAo commented on #78
Looks like it is a shader performance issue. Try optimize your shader.

For instance:
- Make a `half` (instead of `float`) version of `random`, `noise3D`, `snoise3D`, etc. Maybe modify the whole shader to use half precision.
- Making sure that metal `fast-math` is on.
- `bnR` and `bnR2` can share the same sample result, you do not need to call sample for both `bnR` and `bnR2`, you can save the sam

[2019-04-15 06:12] omarojo commented on #78
So I reduced the Camera FPS to 30fps (it was 60fps)
and used a different Noise Function I found online. Now it works (DisplayLink doesnt freeze), but at 30fps :(

I will now try modifying the entire shader to `half` instead of `float` + those suggestions you mentioned.

I'll report back.

[2019-04-15 08:02] YuAo commented on #78
On the GPU side Metal and OpenGL should be at a same performance level with the same shader. But it's hard to make sure that your OpenGL and Metal shader compiles to the same GPU code. (e.g. OpenGL ES has precision qualifier, but Metal use `half` or `float`.)

Metal just gives you more options to optimize your render and the main performance boost with Metal happens on the CPU side.

[2019-04-25 11:32] onurgenes opened #79 "Get Single Color Channel"
Hello there,

I am trying to get R, G and B channels of image for compositing later.

This is what I've currently tried:

[code]

Am I missing something? Or are there any simpler method for this?

Thanks in advance.

[2019-04-25 11:59] YuAo commented on #79
You can write a custom filter to do all these works in one filter.

Looks like subclassing the `MTIUnaryImageRenderingFilter` should fit your needs.
https://github.com/MetalPetal/MetalPetal#simple-single-input--output-filters

Your shader code can be something like this:

[code]

[2019-04-25 11:59] #79 closed

[2019-04-25 13:41] onurgenes commented on #79
This is my main function for testing:

[code]

And this is `SplitChannelOutput.metal`:

[code]

When I use this, I get: `MTIErrorFunctionNotFound`. Am I missing something here?

[2019-04-25 13:52] YuAo commented on #79
You need to specify the library url of the custom shader function. Typically the compiled shader library is called default.metallib and placed in the main bundle.  You can also use the MTIDefaultLibraryURLForBundle function.

By default MetalPetal only search the default shader library in its framework bundle.

[2019-04-25 13:56] YuAo commented on #79
Also if you change the pixel format to r8Unorm you should also change the output color type in your SplitChannelOutput from float4 to float. A pixel in the r8Unorm texture can only have one color component.

[2019-04-25 14:00] onurgenes commented on #79
What should I use as default for this?

[2019-04-25 14:03] YuAo commented on #79
I think you can just write MTIFunctionDescriptor(name: “splitChannel”, libraryURL: MTIDefaultLibraryURLForBundle(.main))

[2019-04-25 14:06] onurgenes commented on #79
Yes, I made it work but it just returns RED image.

This is the final function:

[code]

[2019-04-25 14:12] YuAo commented on #79
Because each output image only contains one color component so it cannot be color image. How the image look does not matter, its red because the renderer stores the channel data to the output image’s r channel, as the pixel format implies “R8”. The benefits here is the r8 image only takes 1/4 memory of the bgra8 image.

[2019-04-25 14:18] onurgenes commented on #79
Understood. But I need Red, Green and Blue channels separately because I will combine them to make a kind of Glitch effect. I've tried bgra8 but it returned `fragment shader color output does not have enough components for the pixel format (MTLPixelFormatBGRA8Unorm)`.

I couldn't make it work. 😅

[2019-04-25 14:21] YuAo commented on #79
Once you finish processing each channel of the image, you can write another custom shader to take all the 3 one channel images and merge them to a color image.

Or if you prefer convenience over performance, you can use `MTLPixelFormatBGRA8Unorm` pixel format, and change the output pixel type of SplitChannelOutput back to float4. And write each channel to the corresponding color component. Like `o

[2019-04-25 14:54] onurgenes commented on #79
I made it work. Thanks for your support. I appreciate it. 🎉

[2019-04-26 13:49] sampil opened #80 "Couple more filters"
Dear Author, hi!

Thank you so much for the great library! It incredibly efficient and fast, is working with sliders on-the fly and perfectly mixing 5+ filters with no lags!

I currently use 7 Metal Petal Filters in my App, but I miss some of (conventional) standard filters in awesome MetalPetal:
(This names are common for many apps, including Lightroom and VSCO)
1) Shadows (Highlights filter look

[2019-04-27 12:36] onurgenes opened #81 "Image size issue"
I am trying to create a filter like below but it always resizes image interestingly. Can you please look at it?

[code]

But resulting image is:
![Image of result](https://i.ibb.co/gjnxF89/IMG-EABC7-D4-E8768-1.jpg)

[2019-04-27 14:00] #81 closed

[2019-04-28 03:43] #78 closed

[2019-04-28 04:21] YuAo commented on #80
Highlight/Shadow: There's no "standard" implementation for this filter. Apple's Photo App / Photoshop / Google's Snapseed / GPUImage / CoreImage they use different algorithms. It's hard to decide which one is more "standard", and what exactly the algorithm is. Anyway, there's an experimental brach "shadowhighlight", you can grab the MTIMPSShadowHighlightFilter and give it a try. https://github.com

[2019-04-30 15:38] sampil commented on #80
Wow, that was a journey!
Despite all your concrete instructions, I used to do a lot! Hopefully, this experience will help the MetalPetal development!

Firstly I faced that it is hard to pull the **shawhighlights branch of MetalPetal** using cocoapods. My steps:
1. Remove master MetalPetal using cocoapods
2. Download MetalPetal shadowshighlights branch
3. Copy Frameworks directory content to my pro

[2019-05-01 07:03] YuAo commented on #80
You can just grab the shader and the code from the shawhighlights branch and make them your custom shader. It's not recommended to use the whole shawhighlights branch code, because it's not updated to catch up with the master branch.

For the white balance filter, you can use half type, you can change the fragment shader's return type to `half4` and the sourceTexture's type to  `texture2d<half, ac

[2019-05-03 18:45] omarojo opened #82 "Is there a way to access the previousFrame in the main Shader function ?"
Example:

[code]
That is how I currently pass uniforms, but is there a way to access the PreviousFrame texture and sampler, just like there is a `'sourceTexture` parameter in the main function ?

[2019-05-04 05:32] YuAo commented on #82
You need to use the ` context.renderedBuffer(for: outputImage)` function to store the rendered image buffer and use that in your next render.

[code]

[2019-05-04 05:32] #82 closed

[2019-05-09 05:43] d1xlord opened #83 "Changing sampler for TransformFilter not working"
Hi, I am scaling my image using the TransformFilter and want to set the Sampler AddressMode to ClampToEdge. I am changing the samplerDescriptor when providing the inputImage to the TransformFilter but the output still has black bars when the scaleValue is less than 1. I have tried digging inside the MTITransformFilter code to see if there was any additional filter which was causing the revert back

[2019-05-09 06:28] YuAo commented on #83
To grain the best performance possible, all transform filters (MTICropFilter, MTITransformFilter) in MetalPetal only draw the transformed area of the canvas. So this is not a sampler problem because the pixels outside the image is not even sampled.

If you'd like to have the clamp to edge behavior, you may need to write a custom filter.

[2019-05-09 06:28] #83 closed

[2019-05-13 10:50] sampil commented on #80
Thanks for guidelines. Keeping MP inside CocoaPods sounds reasonable. Unfortunately, my first try to use MTIMPSShadowHighlightFilter filter and my white balance shader as custom filters, failed. I'm planning to come back to this issue later and use MetalPetal's source code directly for now.

As for the Grain filter. I coped with this trial, using the following way:

1. Create sample noise texture,

[2019-05-13 22:04] vade opened #84 "Usage Q - Render to MTLImage?"
Hello

Firstly, thank you for this project!

I have an existing metal app and I'd love to integrate MetalPetal filters, and I dont see an obvious way to 'render to a texture'. I have an existing texture I'd love to process via an existing command encoder / command buffer.

Im new to MetalPetal, so apologies If I don't see an obvious mechanism. Ive attempted to use a MTIImageRenderingContext to res

[2019-05-14 05:50] YuAo commented on #84
See https://github.com/MetalPetal/MetalPetal/issues/72

[2019-05-14 05:50] #84 closed

[2019-05-14 08:46] YuAo commented on #84
Hi @vade

Added a method to render to a texture.
https://github.com/MetalPetal/MetalPetal/commit/1ec18c5f58e5e49c264904fbf86f64b6762ab070

You may want to use the master branch to try this feature.

[code]

[2019-05-21 16:17] vjdaemp opened #85 "Memory Leaks"
When running the latest sample application using the Instruments "Leaks" tool, there are over 1,000 memory leaks reported after opening the "Static Image Rendering" example. This occurred when running the app on device (iPhone XS).

Is this a known issue?

[2019-05-21 17:19] YuAo commented on #85
It does not seem to be an issue. I believe it is a false positive report.
https://forums.developer.apple.com/thread/115120

[2019-05-21 17:19] #85 closed

[2019-06-03 12:07] NSBlackMirror opened #86 "is it possible to export(record) video from MTIImageView?"

[2019-06-04 06:23] YuAo commented on #86
Of course, see the demo project "Camera" demo.

[2019-06-04 06:23] #86 closed

[2019-06-07 10:02] HazarathReddy commented on #51
Hello,

I am also getting same issue

**Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying: { BOOL canAcceptAlphaType = YES; for (MTIImage *image in command.images) { if (![command.kernel.alphaTypeHandlingRule canAcceptAlphaType:image.alphaType]) { canAcceptAlphaType = NO; break; } } canAcceptAlphaType; }**

Here is my code

`  l

[2019-06-07 12:00] YuAo commented on #51
You need to handle the alpha type of your input image. Please see the alpha type section of the readme document. If your input image is opaque, it’s recommended to create the MTIImage with `isOpaque: false`. If it’s not opaque you may need to `unpremultiplingAlpha()`.

[2019-06-11 08:29] AllardDevDesign opened #87 "Alternative to may thread rendering"
Currently in the AVCaptureVideoDataOutputSampleBufferDelegate, I take the sample buffer, apply a filter, and render it to a MTIImageView on the main thread. This method however can drop frames and cause the rendering to lag slightly when the main thread becomes blocked. Is there an alternative way of rendering a camera video feed a view that doesn't require main thread?

[2019-06-11 16:40] YuAo commented on #87
Yes. Instead of using MTIImageView, you can use a custom view with a CAMetalLayer.

CAMetalLayer can be accessed from non-main threads. You can use the MTIContext’s “render to drawable” method to perform the rendering. Just be sure not to modify any view related thing in the non-main thread.

[2019-06-11 19:43] omarojo commented on #87
Wow.. i didnt know this could happen.
Would it be wise to add that to the framework ?
On Jun 11, 2019, 9:40 AM -0700, Yu Ao <notifications@github.com>, wrote:

[2019-06-12 07:03] YuAo commented on #87
@AllardDevDesign @omarojo
Added an image view (`MTIThreadSafeImageView`) that does exactly what I said. You can give it a try.
https://github.com/MetalPetal/MetalPetal/commit/eff5bc29a6b62d25a8cb74a0386830c447e42d8b

[2019-06-12 07:03] #87 closed

[2019-06-12 08:37] AllardDevDesign commented on #87
Could you give some instructions for best practice of using this MTIThreadSafeImageView

[2019-06-12 08:49] YuAo commented on #87
Just use it like a normal `MTIImageView` except you can set its image on any thread and the view renders its image immediately unlike the `MTIImageView`'s `setNeedsDisplay` mechanism.

[2019-06-17 09:59] evanxlh commented on #57
I just removed `.metal` files from the `Compile Sources`, and it seems to work well.

[2019-06-18 10:21] alyfreym opened #88 "Code optimization question"
Hi, I am writing my filter. In this filter, I need to impose a texture and apply a horizontal blur. Which option is faster and better than 1 - I will have two filters, the first one will add texture, the second one will apply blur, each filter will have a separate shader code. 2 - I will do it all in one filter, all operations will be processed by one shader code. I assume 2 second option is the b

[2019-06-18 11:20] YuAo commented on #88
In general, the second one is better. Using the second approach you only need to using one command encoder instead of two, and it uses less memory bandwidth (assuming on iOS devices here). So if you can do what you need to do in one filter, please do that.

However, I'm not sure about your approach here:

Assuming you need to first process the pixels using function "A", then do a horizontal blur.

[2019-06-18 11:20] #88 closed

[2019-06-20 00:44] omarojo commented on #87
for some reason Im getting
[code]
But Im pretty sure Im assigning a `context` value to the `myrenderView.context`
before trying to render anything.

[2019-06-20 03:55] YuAo commented on #87
@omarojo yes, nice catch. Fixed in the latest commit.

[2019-06-26 11:41] alyfreym opened #89 "using Text"
Hi, can I integrate SCNText to generate text using this lib? If you know the easier ways of rendering text to texture, I would be very happy if you share it. thanks for the answer.

[2019-06-27 03:06] YuAo commented on #89
You may want to use a text layout manager and core graphics to render a pice of text to a CGImage, then create a MTIImage using the CGImage.

Here's a pice of code that may help.

[code]

[2019-06-27 03:06] #89 closed

[2019-06-27 17:38] kallipigous opened #90 "ios13 beta Produces strange orientations"
I have a landscape app that uses Metal Petal and on the ios13 beta the previews in MTIImageView appear squashed. Videos recorded and images taken are the correct orientation and shape but the preview seems to squash the landscape image into a portrait frame regardless of the size of the images. Is this a known issue?

This appears to be the same with the metal petal demo.

[2019-06-28 06:28] YuAo commented on #90
Reproduced, seems to be a problem with the layer's transform. Will investigate.

[2019-06-28 11:37] vjdaemp opened #91 "Feature request: Shadows/Highlights"
Any reason why Shadows/Highlights is not merged into master?

Disregard: I just saw that there is another issue open for this, #80

[2019-07-01 10:22] #91 closed

[2019-07-01 10:34] YuAo commented on #90
@kallipigous  Could you please send me a demo project or some screenshots of this issue?

[2019-07-01 13:54] kallipigous commented on #90
Sadly it does not for me. When I force it to landscape right only and compile it everything is squashed horizontally. In the live camera example it's also rotated by 90 degrees in landscape mode, but the static image rendering example just squashes it. Tilting the iphone results in the image warping as its' tilted.  This is on iOS 13 beta 2 on an iphone 7 plus.

![IMG_0667](https://user-images.git

[2019-07-02 05:55] YuAo commented on #90
Could you attach the demo project you modified? I cannot reproduce here.
Tested configuration:
Xcode 11 Beta 2, iOS 13 Beta 2, iPhone SE
MetalPetal Demo + "Device Orientation" only checked "Landscape Right"

[2019-07-02 15:44] kallipigous commented on #90
Well that's fascinating. I installed ios 13 on an old iphone SE and sure enough it works as expected. But not on an iphone 7 plus. Do you have any other devices you can test it on? We were alerted to this by people who use our app out in the field who have upgraded to ios13 and so far I have seen reports on iphone 7, iPhone Xs Max and I have seen it on an iPhone 7 plus too. Is this to do with a di

[2019-07-02 16:42] kallipigous commented on #90
Here's a good example of the strangeness between the two devices.

The scenekit camera example in landscape (with the camera orientation set to landscapeRight as before)

Here it is on an iphone SE

![IMG_0091](https://user-images.githubusercontent.com/609665/60530279-43a9fd80-9cad-11e9-9c1c-c1c93dd6240b.png)

Note the video is correct but the model is stretched.

on an Iphone 7 plus the same sett

[2019-07-02 17:54] kallipigous commented on #90
Here's an interesting clue. Setting the MTIImageView resizingMode to .scale on the newer devices on ios13  seems to fix it. However that beaks it on devices on ios 12 which need .aspect to work correctly.

[2019-07-02 21:02] kallipigous commented on #90
I think I have found where the discrepancy is.

in MTIContext+rendering.m there is a line

CGSize drawableSize = CGSizeMake(renderPassDescriptor.colorAttachments[0].texture.width, renderPassDescriptor.colorAttachments[0].texture.height);

This seems to be returning inaccurate aspect ratios of the texture.

Logging this on the iphone 7 plus I get this as the size {2276, 405} which is an aspect rati

[2019-07-03 03:08] YuAo commented on #90
Interesting... I think it's probably a beta bug.
I do not have iPhone 7 Plus, X or X Max with iOS 13 beta at hand currently. I'll try to find one of these devices.
BTW, beta 3 is out today. Can you check whether the issue still exists?

[2019-07-03 04:20] kallipigous commented on #90
As far as I can tell it’s still there. A newer iPad will work too. I will test that again tomorrow. Could we not get the aspect ratio directly from the view frame instead?

[2019-07-03 10:10] YuAo commented on #90
Using the view's frame directly is not a very good workaround.

1. A view's frame does not always reflect the size of its content. If a view has some `transform`, its `frame` is also transformed, which is not what we want.

2. We can use the view's `bounds` to resolve problem 1. But we'll still have some problems with the final result. Because we draw on a stretched canvas (the drawable's texture)

[2019-07-03 13:06] alyfreym opened #92 "Lookup Filter"
Hi, I'm trying to use MTIColorLookupFilter,  but the result is wrong, can you tell me what's wrong? I uploaded  Color Lookup Table image.
![Polaroid Time Zero (Expired) 5 +](https://user-images.githubusercontent.com/29518174/60593933-3b40e800-9dbd-11e9-987f-cb6d6640f840.png)

`  let cg = UIImage(named: "lookup")!.cgImage!
  let filter = MTIColorLookupFilter()
 filter.inputColorLookupTable = MTIIma

[2019-07-03 13:10] alyfreym commented on #92
Result
![IMG_6164](https://user-images.githubusercontent.com/29518174/60594168-c3bf8880-9dbd-11e9-86ed-da9f2fa66284.jpg)

[2019-07-03 14:02] YuAo commented on #92
We do not currently support this kind of color lookup table.

The supported CLUT types are:

- 2D square. Like this one: https://github.com/MetalPetal/MetalPetal/blob/master/MetalPetalDemo/Assets.xcassets/ColorLookup512.imageset/lookup.png
- 2D horizontal. Like this one: https://github.com/MetalPetal/MetalPetal/blob/master/MetalPetalDemo/Assets.xcassets/ColorTableGraded.imageset/ColorTableGraded.p

[2019-07-03 14:02] #92 closed

[2019-07-03 14:04] alyfreym commented on #92
Is it possible to convert it into 2D square format?

[2019-07-03 14:13] YuAo commented on #92
Yes, you can just re-apply the effect to a 2d square identity color lookup table image.

[2019-07-03 14:27] kallipigous commented on #90
I actually already tried this but rotating the device was skewing the pixels in a weird way on ios13 when you're using .scale. Though I'll check to make sure that I have the frame size correct. Also sadly I sometimes do anamorphic squeezes (to correct for anamorphic lenses) in the app that means the aspect ratio is often very strange and then it also get's cropped to match camera sensor sizes whic

[2019-07-03 14:31] alyfreym commented on #92
Thank you, I did it.

[2019-07-04 11:21] YuAo commented on #90
Tested on an iPhone X with iOS 13 beta 2, it works as expected.

[2019-07-04 14:19] kallipigous commented on #90
I just tried it on the iPhone X ios beta 3. The static image rendering is correct, but "Working with scenekit" example shows the same problem in landscape.

![IMG_2192](https://user-images.githubusercontent.com/609665/60673186-146dca80-9e2c-11e9-96ec-329f2b1a1b67.png)

[2019-07-05 02:26] evanxlh opened #93 "Does MTISCNSceneRenderer or MTIImageView support multiple sample?"
Hi @YuAo ,  If use the SCNView, it can set antialiasing mode, so for MTISCNSceneRenderer or MTIImageView, how to make them support multiple sample?  Many thanks!

[2019-07-05 03:58] YuAo commented on #93
This feature is currently unavailable. I'll see what we can do.

[2019-07-05 08:02] YuAo commented on #93
Unfortunately, after some investigation, I found that the `SCNView` uses a private API of `SCNRenderer` to support multiple sample. It calls a private method `- (void)set_antialiasingMode:` on `SCNRenderer` to enable the multiple sample support.

That means we are impossible to do the same because it requires the use of private API.

It seems that we cannot implement this feature on our own as wel

[2019-07-05 09:40] YuAo commented on #90
Finally reproduced the issue.

Looks like a bug with `MTKView`'s `contentScaleFactor`. If the `contentScaleFactor` is less than the screen's `nativeScale` the issue occurs.

A quick fix would be subclassing `MTIImageView`, override the `updateContentScaleFactor` method and do nothing.

[code]

Or in swift:

[code]

However, doing this may degrade your render performance. Because we may render the

[2019-07-05 09:55] omarojo commented on #90
Thank you for looking into this while we all prepare for iOS13.

[2019-07-05 15:47] kallipigous commented on #90
Bingo. Yes using MTIThreadSafeImageView solves it immediately. A great solution; thanks so much. I've converted the app to resize the MTIImageView according to all the aspect ratios we use but it makes me more comfortable to use .aspect in case there's a discrepancy at some point.

[2019-07-06 05:56] migueliOS opened #94 "High Pass Skin Smoothing not working anymore"
Hi,

Seems like the high pass skin smoothing filter is not working anymore. The effect on the image is just to make it a bit lighter.

Has anyone else found this issue?

[2019-07-06 08:24] YuAo commented on #94
How about adjusting the radius parameter? Like `radius = 0.0125 * inputImage.width` ?

[2019-07-06 08:24] #94 closed

[2019-07-07 00:30] evanxlh commented on #93
@YuAo Thank you very much.

[2019-07-07 02:52] YuAo commented on #90
@kallipigous It requires more work to release the official pod, because`CAMetalLayer` is not available for Simulators with Xcode 10 (Apple's problem) while CocoaPods (currently version 1.7.3) can only validate libs on Simulators (CocoaPods' problem).

[2019-07-07 04:50] kallipigous commented on #90
Many, many thanks.

[2019-07-09 02:48] YuAo commented on #90
@kallipigous Pod updated.

[2019-07-09 13:12] alyfreym commented on #89
Hi, reading the documentation I saw this  extension
`extension MDLMesh {
    @available(iOS 9.0, *)
    public convenience init(scnGeometry: SCNGeometry)
    @available(iOS 10.0, *)
    public convenience init(scnGeometry: SCNGeometry, bufferAllocator: MDLMeshBufferAllocator?)
}`
 I had an idea, is it possible to write my own filter that will generate text, overriding pipeline coding methods? Shor

[2019-07-09 17:26] kallipigous commented on #90
Great. many thanks.

[2019-07-10 15:07] alyfreym commented on #93
https://developer.apple.com/documentation/scenekit/scnrenderer/1641767-snapshotattime?language=objc not working ?  - SCNAntialiasingMode constants

[2019-07-11 04:21] YuAo commented on #89
It is possible but requires a lot of work.

1. We'll need to inspect the `MTKMesh`, find out its vertex data layout, attributes, etc.
2. MetalPetal really focuses on 2D image processing, so the default render pipeline does not include the setup for depth buffer. New MTIKernel implementation or modifications to the current render pipeline kernel is needed to render the depth properly.
3. We may nee

[2019-07-11 04:30] alyfreym commented on #89
Yes, I noticed that you have integration with SceneKit, but in SCNRenderer missing Multi-Sampling, so when i render text,  edges is jagged((. Thank you for your reply.

[2019-07-11 05:20] YuAo commented on #89
It seems that you can enable multisample for your text node using SCNTechnique. You can specify a lot of render settings including `samples` (The number of samples per pixel for enabling multisampled rendering for the drawing pass. Defaults to 1).

https://developer.apple.com/documentation/scenekit/scntechnique

[2019-07-11 05:24] alyfreym commented on #89
Thanks for the reply, I will work on it.

[2019-07-16 07:42] alyfreym opened #95 "CGImage Rendering problem"
HI!. I had a problem with the image rendering in `MTIImageView.` 1 - I load CGImage from URL. I get an error with some images - `NSLocalizedDescription=Image decoding failed, MTKTextureLoaderErrorKey=Image decoding failed`. (I attached this file it's called - error_image.PNG). Some images are rendered but not correctly. (I attached this file it's called - problem_image.HEIC). problem image I loadi

[2019-07-17 03:57] YuAo commented on #95
The first image has 16 bit color depth and the `MTKTextureLoader` can not decode the image. So `MTKTextureLoaderErrorKey=Image decoding failed` is reported.

The second image looks fine on my iPhone X running iOS 12.3.1. The MTIImage is created from a cgImage which is created from an UIImage.

---

You can resolve these kind of problems by implementing your own texture loader by conforming to the

[2019-07-17 04:23] alyfreym commented on #95
Thank you very much!

[2019-07-17 04:23] #95 closed

[2019-07-17 04:32] donobono opened #96 "Black line in MTIImageView when display images."
HI.. I had a problem with the images rendering in MTIImageView.
Sometimes, when I display images, black line appear like attached screen.

![IMG_8387](https://user-images.githubusercontent.com/1480551/61346860-8d8e0880-a895-11e9-9343-9ee2e90025fc.JPG)

![IMG_8389](https://user-images.githubusercontent.com/1480551/61347163-d85c5000-a896-11e9-8509-7e5149ca136c.JPG)

I attach all source code for this

[2019-07-17 08:20] YuAo commented on #96
The reason for the dark line is a little complicated. I'll use an example here:
- The image you'd like to display is 448x248 pixels.
- The MTIImageView is 414x738 points on iPhone X, that is 1242 * 2214 pixels.
- The MTIImageView try to use as few pixels as possible to draw on the screen. In this case, the drawable size will be 448 x 799 pixels.
- The image will be placed in the center of the draw

[2019-07-17 08:20] #96 closed

[2019-07-17 09:53] ychding11 opened #97 "Demo cannot build on Mac OS 10.14"

[2019-07-17 12:15] YuAo commented on #97
Any error information? Screenshots?

[2019-07-18 02:25] ychding11 commented on #97
error: SWIFT_VERSION '5.0' is unsupported, supported versions are: 3.0, 4.0, 4.2. (in target 'MetalPetalDemo')

[2019-07-18 02:26] ychding11 commented on #97
There is no MacOS target in xcodeproj file.

[2019-07-18 02:43] donobono commented on #96
@YuAo
Wow.. Solved!!
Thank you so much!!

[2019-07-18 02:48] YuAo commented on #97
MetalPetal is supported on macOS 10.13+ with Xcode 10.0+. The compiler you are using does not support Swift 5.0, you need to upgrade Xcode.

The demo project is for iOS. No demo is provided for macOS currently.

[2019-07-18 02:48] #97 closed

[2019-07-31 03:39] vjdaemp opened #98 "Resize MTIImage"
I noticed that there are no convenience methods available to resize an MTIImage.

What is the best way (memory wise) to resize an MTIImage?

[2019-08-01 06:15] YuAo commented on #98
Consider `MTIUnaryImageRenderingFilter`
[code]

[2019-08-01 06:15] #98 closed

[2019-08-04 18:45] alittle433 opened #100 "Optimisation question for applying lots of filters in a chain"
Currently I have a project thats doing real-time video editing, I'm using metal petal and custom filters to produce different effects, filters and adjustments for the pixel buffers. My question is that when monitoring the performance of chaining multiple filters (up to 15 for every frame) it can be taxing. What is the best way to go about chaining filters so that I can do it all in one render pass

[2019-08-05 04:59] YuAo commented on #100
First you need to analyze the performance bottleneck. Is it the command encoding process? or memory bandwidth? or on the GPU side, i.e. shader performance?

Then act based on your findings.

---

It is recommended to have as few render passes as possible. It can reduce the cost of command encoding, memory read/write/bandwidth. But if the shader performance is your bottleneck, having fewer render p

[2019-08-05 04:59] #100 closed

[2019-08-08 00:40] omarojo opened #101 "Console Log <MTITexturePool: 0x2810aaa20>: new texture - 408x308x1/80"
What could be the reason of many print logs
`<MTITexturePool: 0x2810aaa20>: new texture - 408x308x1/80`

then memory going up and finally crashing the app ? The following is how Im doing it..
sometimes the input *cvPBuffer* comes from the Camera Queue (in which case app does not accumulate memory and works) but when the pixelBuffer comes from reading frames from a VideoFile using DisplayLink.. the

[2019-08-09 06:46] YuAo commented on #101
Do all the "prints" have same texture size?
If you have lots of intermediate buffers in different sizes, you may have memory issue.

Try `context.reclaimResources()` after each `context.render(...)`.

---
Just curious about the  408x308 size... I don't see any of your textures should be 408x308, you hard coded 408x306 don't you.

[2019-08-13 00:53] omarojo commented on #101
I hardcoded 408x306 but not 408x308.

the original image is actually way bigger, but I resize it for CoreML processing.
then stretch it back to original dimensions. Maybe it the `resizePixelBuffer` function adds those extra pixels.

Im not doing any metalpetal context.render() in this process. Im Just creating MTIImages out of a CVPixelBuffer.

[2019-08-23 07:57] YuAo commented on #90
It seems the problem is fixed in the latest beta. Closing this issue for now.

[2019-08-23 07:57] #90 closed

[2019-08-28 23:57] kallipigous opened #102 "Trying to get MetalPetal to work with recorded video"
I'm trying a simple test where we apply filters to a video file and save it. it works fine up to the point of applying a filter which results in a  completely black video (sound records fine). If I pass the original sample buffer in it records the image fine. But there's something that it does not like about the conversion.

Is there anything I'm missing? The same setup works for for recording vid

[2019-08-29 00:18] kallipigous commented on #102
I figured it out. I had the wrong combination of kCVPixelFormatType_32BGRA

[2019-08-29 00:18] #102 closed

[2019-08-29 01:26] kallipigous opened #103 "Picture in picture"
I've been tasked with combining two videos together (they are the same length). Effectively one video stays full screen and another (from a different angle) is placed in one of the corners (offset a little from the edge). It occurs to me I could export out a series of stills of the little video and overlay them with a Multilayer Composite filter. I'm presuming this filter needs the two images to t

[2019-08-29 04:08] YuAo commented on #103
You can use a video as the "background" of a multilayer compositing filter and another video as a "layer", you can set the layer's position and size. You don't have to render out a full size image with a little poster.

[2019-08-29 04:08] #103 closed

[2019-08-29 05:20] kallipigous commented on #103
Thank you. I was trying to work out how multilayer compositing worked. I’ll have a play.

[2019-09-13 07:06] alyfreym opened #104 "renderImage SIGNAL SIGABRT"
Hi. I often get an error - _validateRenderPassDescriptor:782: failed assertion `Either set rendertargets in RenderPassDescriptor or set renderTargetWidth and renderTargetHeight.'_

When I call this method `- (BOOL)renderImage:(MTIImage *)image toDrawableWithRequest:
(MTIDrawableRenderingRequest *)request error:(NSError **)error
NS_SWIFT_NAME(render(_:toDrawableWithRequest:));`

 I added a screensh

[2019-09-13 11:23] YuAo commented on #104
https://github.com/MetalPetal/MetalPetal/issues/60#issuecomment-456837693

[2019-09-13 11:23] #104 closed

[2019-09-13 11:23] #101 closed

[2019-09-16 16:52] jrabek opened #105 "Carthage Support"
Thanks for the great framework!

Is there any interest in supporting Carthage?  I would be happy to make a PR for adding the necessary shared scheme.

[2019-09-16 17:11] YuAo commented on #105
Thanks. But we have no plan of supporting Carthage currently.

There's a script to generate dynamic `.frameworks` for you. You need to first install CocoaPods/Rome, then run [/Rome/build_frameworks.sh](https://github.com/MetalPetal/MetalPetal/blob/master/Rome/build_frameworks.sh)

[2019-09-16 17:11] #105 closed

[2019-09-19 04:10] gmfxch opened #106 "MTIAlphaType 为什么不支持MTIAlphaTypePremultiplied类型"
试了下直接给图片加模糊滤镜，结果断在了Assert里面

代码
    UIImage  *oriImage = [UIImage imageNamed:@"picture.png"];
    MTIImage *inputImage = [[MTIImage alloc] initWithCIImage:[CIImage imageWithCGImage:oriImage.CGImage]];
    MTIMPSGaussianBlurFilter  *filter = [[MTIMPSGaussianBlurFilter alloc] init];
    filter.radius = 20;
    filter.inputImage = inputImage;
    MTIImage *outputImage = filter.outputImage;

断在了这里 NSP

[2019-09-19 12:10] YuAo commented on #106
Please read the documentation: https://github.com/MetalPetal/MetalPetal#alpha-type-handling

You can call `unpremultiplyingAlpha()` or `premultiplyingAlpha()` on a MTIImage to convert the alpha type of the image.

[2019-09-19 12:10] #106 closed

[2019-10-05 12:20] malemo opened #107 "MTIContext not initializing"
Hello,

I'm trying to run a sample code you provide in the description:

       var toOutPut: CIImage!
       let inputImage = MTIImage(ciImage: ouputex).unpremultiplyingAlpha()

       let filter = MTISaturationFilter()
       filter.saturation = 0
       filter.inputImage = inputImage

       let outputImage = filter.outputImage

       let options = MTIContextOptions()

       guard let device

[2019-10-05 14:29] YuAo commented on #107
Looks like the device you're using does not support metal.

[2019-10-05 14:29] #107 closed

[2019-10-05 14:38] malemo commented on #107
I've updated to mac os 15.0 which should support metal in simulator

still get this error : error 'Error: MPS does not support the iOS simulator.'

[2019-10-05 14:58] YuAo commented on #107
I don't have macOS 10.15 now. Will investigate after upgrade. The suggestion is to run and test your app on a real device.

[2019-10-06 08:15] malemo commented on #107
screenshot here:
https://imgur.com/a/oVEAj0O

[2019-10-06 09:43] malemo opened #108 "Surface Blur not working as expected"
May be I'm doing something wrong but this implementation is very different from Photoshop Surface blur.

Original Image: https://imgur.com/a/2wKecWH

Radius 5 to 10 (with threshold 35) works more or less fine

When I set radius 25, threshold 35 this is what i see: https://imgur.com/a/xaMn50m

In photoshop even with maximum radius 100 the image looks smooth and blurred

Am I missing some settings o

[2019-10-06 10:35] YuAo commented on #108
Looks like a problem of precision. The current implementation of surface blur in MetalPetal uses `half` float. Changing the `half`s in the shader to `float`s should make the result much better. I'll try to apply the change to the Surface Blur repo when I have time.

[2019-10-06 11:03] malemo commented on #108
you are right, changing half to float does make a difference, now it works fine. thank you.

one other thing I noticed is that this filter reduces the overall image saturation a bit, any idea why this is happening?

[2019-10-06 16:01] malemo opened #109 "Error: MPS does not support the iOS simulator.'"
Running on iPhone Device iOS 13.1.2 it works fine.

However, while trying to run on iPhone Simulator (iOS 13) I face this error:
https://imgur.com/a/oVEAj0O

I use xCode 11, macOs 10.15 GM

Has anybody experienced this issue?

[2019-10-07 11:13] malemo opened #110 "How can this be done?"
closed

[2019-10-07 13:04] #110 closed

[2019-10-08 21:41] dannydaddy3 commented on #109
Yeah, the same thing.
In last commits to the project there were added some fixes for Xcode 10 simulators lately, and now this problem happens with Xcode 11 simulators, so I think that fix needed for new Xcode 11 as well..

[2019-10-09 15:11] YuAo commented on #109
MetalPerformanceShaders is not supported on the simulator currently. However it is possible for MetalPetal to run on the simulator with some workaround. I'll take a look in the next few days.

Please notice. Simulator's features differ significantly from modern Apple GPUs. With some filter I may need to use the macOS branch to make it work on a simulator. Do not use simluators to develop render pi

[2019-10-09 15:20] dannydaddy3 commented on #109
@YuAo
Well, sometimes I need to just open app in simulator to make screenshots for AppStore for example, and it's impossible to do because of crash. For this case, it would be good to allow using app, although filters wouldn't work

[2019-10-09 17:20] YuAo commented on #109
Added basic simulator support. b0cc46253def3cb5ca2830e6c7cdcb6f824dc6d9
@dannydaddy3 You can also opt-out the support if anything goes wrong. ref:  a763bebe44d491c16c61fc737f9e1590bce64362

[2019-10-10 16:59] malemo opened #111 "Tone Curve Filter is NOT accurate"
I'm trying to replicate a Tone curve from photoshop.

         let mtiIMG = MTIImage(ciImage: sourceIMG).unpremultiplyingAlpha()

        let vec1 = MTIVector(value: CGPoint(x: 0.35, y: 0))
        let vec2 = MTIVector(value: CGPoint(x: 0.5, y: 1))
        let vec3 = MTIVector(value: CGPoint(x: 0.65, y: 0))

        let crv = MTIRGBToneCurveFilter()
        crv.rgbCompositeControlPoints.append(vec

[2019-10-10 18:33] YuAo commented on #111
Yes. The curve you create is not complete - no y value is defined for x = 0 and x = 1.

[2019-10-10 18:33] #111 closed

[2019-10-13 08:47] YuAo commented on #109
Released 1.6.0 with Simulator render support.

[2019-10-13 08:47] #109 closed

[2019-10-16 00:06] vjdaemp opened #112 "Save MTIImage to disk [enhancement]"
I'd like to request quick method to write MTIImage to disk.  There are MTIImage's that I'd like to temporarily store to disk to reduce memory load. I am currently converting to MTIImage to UIImage to Data, and then writing to disk. Would be nice if there was a more direct way to achieve this.

[2019-10-16 10:17] dannydaddy3 commented on #112
I need the same feature.
I can have up to ~100 images to filter, and the only way to store them is on disk.
So for now converting MTIImage -> UIImage -> Data and back Data -> UIImage -> MTIImage for each image to apply filter will take a lot more work.

@YuAo could you please add this feature? And maybe you could advice something for filtering big number of images that lay on disk, what would be t

[2019-10-20 18:05] swiftlili opened #113 "Flipped coordinates"
When I use MTIimage.cropped(to: CGRect),  the Y coordinates is flipped... the x0 and y0 are on the top left corner, which is different from Core image where x0 and y0 are in the bottom left corner. How can I flip coordinate plane?

I have an MTI image which needs to be cropped to certain CGRect. I tried this approach ( mtiimage.size.height - y, for y coordinates it does not work)

[2019-10-21 03:50] YuAo commented on #113
[code]

[2019-10-21 03:50] #113 closed

[2019-10-21 22:46] swiftlili commented on #113
Thanks @YuAo  , i'm new to swift, would really appreciate if you tell me where should i put those functions and where to call them.

Should i put it in MTICropFilter.m?

`//
//  MTICropFilter.m
//  MetalPetal
//
//  Created by Yu Ao on 28/10/2017.
//

#import "MTICropFilter.h"
#import "MTIRenderPipelineKernel.h"
#import "MTIFunctionDescriptor.h"
#import "MTIRenderPassOutputDescriptor.h"
#import "M

[2019-10-22 03:22] YuAo commented on #113
You can just change your `mtiimage.size.height - y` to `mitimage.size.height - yourRect.maxY`

[2019-10-22 10:12] swiftlili commented on #113
sorry, I don't understand

let's say I have a:
`let rec = CGRect(x: 0, y: 0, width: 500, height: 500)`

when I do:
`myMTIimage = MTIImage(ciImage: sourceCI).unpremultiplyingAlpha().cropped(to: rec)`

the image is cropped from top left zero point coordinates

When I change the y origin of the rec it goes out of bounds.

I want 0,0 to be on the bottom left instead

is there a way to may be change MT

[2019-10-22 11:13] YuAo commented on #113
You can't change the coordinate system of `MTIContext`, it is designed to have a top-left origin.

Also I don't think you can change the `CIContext`'s origin. `CIContext` does not have the `translateBy` and `scaleBy` methods.

For cropping, you can easily flip the rect, using the code I posted before. For instance,
[code]

If you'd like to flip a `MTIImage`, you can call `let flippedImage = mtiima

[2019-10-22 11:49] swiftlili commented on #113
Thank you, I got it working by flipping `rect.origin.y `

For the `translateBy` and `scale`, I meant to say CGContext has those methods, not CIContext

[2019-10-28 19:30] dannydaddy3 commented on #112
Hi, @YuAo!
I'm just wondering when do you plan to add this feature? Really need it!

[2019-10-28 21:11] omarojo commented on #112
You guys want a function that does what you are already doing, integrated into MetalPetal?

I don't think the feature you guys are asking for should be part of MetalPetal. That’s why the library does not have classes to record video or take pictures, is not ir’s job to do that. It limits itself to be a rendering engine.

But Maybe @YuAo can suggest an approach tho.
On Oct 28, 2019, 12:30 PM -0700,

[2019-10-28 21:58] dannydaddy3 commented on #112
@omarojo Ok, so, there's only one way to convert Data to MTIImage (Data->UIImage->CIImage/CGImage->MTIImage - 3 steps) and 100% no more straight and fast way to do this? Maybe somehow encode/decode MTIImage contents?
Because it "seems" it has to be faster way than this, but I'm not that good at Metal so don't really know for sure.

Could you clarify this?

[2019-10-28 22:04] dannydaddy3 commented on #112
Because @YuAo assign this task to himself, I thought that it IS possible. But let's wait what he says

[2019-10-29 01:31] vjdaemp commented on #112
@omarojo No, we are asking @YuAo to add a feature (if possible) to go from MTIImage to Data more efficiently.

Like @dannydaddy3 , I believe that Metal may provide a more efficient way to convert from MTIImage to Data. There may be some private metal components we need to access that MetalPetal does not expose publicly.

We need @YuAo 's feedback to determine if:

1. Our current method is most eff

[2019-11-05 09:41] ameyavichare commented on #102
@kallipigous What was the right combination?

[2019-11-05 14:46] kallipigous commented on #102
It was exactly that. The pixelbufferPool and the output settings needed to be kCVPixelFormatType_32BGRA

  let videoReaderSettings: [String:Any] =  [kCVPixelBufferPixelFormatTypeKey as String:kCVPixelFormatType_32BGRA ]
        // ADJUST BIT RATE OF VIDEO HERE
        let videoSettings:[String:Any] = [
            AVVideoCompressionPropertiesKey: [AVVideoAverageBitRateKey:self.bitrate],

[2019-11-06 06:05] ameyavichare commented on #102
Could you provide the entire code? I have written the reader and the writer but I'm going wrong somewhere.

[2019-11-06 22:56] kallipigous commented on #102
Sure though you[l need to extrapolate a bit. this code combines two videos together. One video becomes a poster placed on top of the second. But you can pull out the bits you don't need.

[code]

[2019-11-08 10:27] liangjie90 opened #114 "The MTIImage results show a darker color"
MTIImage *waterMarkImage = [[MTIImage alloc] initWithCGImage:[UIImage imageNamed:@"water_mark"].CGImage options:nil];

I loaded the image this way and it showed a darker color than the original

[2019-11-08 10:31] omarojo commented on #114
instantiate the MTIimage with SRGB to true.
On Nov 8, 2019, 2:27 AM -0800, liangjie90 <notifications@github.com>, wrote:

[2019-11-09 09:16] YuAo commented on #114
try
[code]

Actually you the value of MTKTextureLoaderOptionSRGB should be determined by your render pipeline. Currently MetalPetal does not insert any color conversion pipeline for you, so you probably what to process and display sRGB images, you should set the MTKTextureLoaderOptionSRGB to NO to tell the texture loader to load your input image without using a sRGB texture.

[2019-11-09 09:16] #114 closed

[2019-11-15 09:49] userich opened #115 "MTIColorLookupFilter() doesn't work on iOS 13"
Hi, YuAo
It seems Lookup Filter doesn't work properly on iOS 13 devices.
I am getting:
Error Domain=MTKTextureLoaderErrorDomain Code=0 "Image decoding failed" UserInfo={NSLocalizedDescription=Image decoding failed, MTKTextureLoaderErrorKey=Image decoding failed}

I am using 512x512 png table image

Thank you for this library!

[2019-11-15 11:19] YuAo commented on #115
It's a MTKTextureLoaderError, meaning `MTKTextureLoader` cannot load your image. Commonly because your image is broken or in a format that cannot be decoded by `MTKTextureLoader`. You can probably fix this by exporting the image using "Preview" app (File -> Export), and choose "PNG" format and "8 Bit / Channel" depth.

[2019-11-15 11:19] #115 closed

[2019-11-24 22:36] podycust opened #116 "resizing images"
can metal-teal be used for drawing and resizing images?

[2019-11-26 03:24] YuAo commented on #116
See #98

[2019-11-26 03:24] #116 closed

[2019-11-26 12:35] flappyBug opened #117 "Question: combine of CPU & GPU image processing"
I need to implement an complicated image processing algorithm, which has some part can be accelerated by GPU but some part better using CPU, so I need a way to read and manipulate the raw pixel buffer as a bitmap . Do I have better solution other than using `MTIImage(cvPixelBuffer:alphaType: )` and `MTIContext.render(image, to: pixelBuffer)`  to transfer between `MTIImage` and `CVPixelBuffer`?

[2019-11-27 03:58] YuAo commented on #117
Can you use a computer kernel?
If your CPU algorithm cannot be implemented using a compute processing pipeline, you have to wait for the GPU to finish its work then do your CPU image processing. Be sure to lock the base address of a pixel buffer before accessing it using CPU (and unlock afterwards).

[2019-11-27 03:58] #117 closed

[2019-12-03 10:13] YuAo commented on #112
It's all about trade off.

In fact you are doing pretty good. Turning RAM consuming GPU textures to compressed image data on disk:
MTIImage -> GPU Texture -> CGImage(UIImage) -> Encoding -> Data -> Disk.

However, if you are willing to pay more disk space, you may able to do it faster.

There are two steps in saving a UIImage to disk:
1. Encode the image to JPEG or PNG data.
2. Save the data to di

[2019-12-03 10:13] #112 closed

[2019-12-03 10:17] #108 closed

[2019-12-03 10:24] YuAo commented on #108
@malemo not sure about the reducing saturation. If you have any clues/ideas please let me know.

[2019-12-04 03:51] YuAo commented on #54
Added a helper method in the latest version of MetalPetal.

[code]
[code]

[2019-12-07 23:52] vjdaemp commented on #112
@YuAo Thank you very much for the detailed response. I will follow recommended approach and perform benchmarking to determine which method is best for my application.

[2019-12-18 10:43] KerwinCheung opened #118 "Would you consider adding mesh wraping？"
I‘m trying to make functionality of Image Warp , but I didn't want to use OpenGL and I haven't touched it before.
When I learned about Metal, I felt that the learning materials are so poor that I can only learn from apple.
Can you give me some advice on learning Metal？
Thanks～

[2019-12-20 11:49] YuAo commented on #102
The master branch of MetalPetal is updated to work with our new [VideoIO](https://github.com/MetalPetal/VideoIO) library. You can process recorded video in real-time in less than 10 lines of code.  Demo: https://github.com/MetalPetal/MetalPetal/blob/master/MetalPetalDemo/VideoProcessorViewController.swift

[2019-12-21 04:43] YuAo commented on #118
What kind of warp would you like to make? Mesh transform?

[2019-12-23 08:15] KerwinCheung commented on #118
yeah～
Actually I am trying to make  Animated feature effect of PLOTAVERSE.
I have several plans,and i have tried. The effect is not ideal.
I want to learn Metal by the way.
By trying OpenGL mesh wrapping, I know that it is not implemented using openGL or Metal.
But I still look forward to your completion of this lib.

[2019-12-24 06:21] #118 closed

[2019-12-26 09:26] ApeHC opened #119 "try? context.makeCGImage(from: output)"
guard let interImage = image.makeMTIImage() else { return }
        let sufaceBlurFilter = MTISurfaceBlurFilter.init(radius: 27)
        sufaceBlurFilter.inputImage = interImage
        guard let device = MTLCreateSystemDefaultDevice(), let context = try? MTIContext(device: device, options: MTIContextOptions()) else { return }
        guard let output = sufaceBlurFilter.outputImage else { return }

[2019-12-26 10:35] YuAo commented on #119
As far as I can see, it doesn't.
`try? context.makeCGImage(from: output)` should be fast in your situation. If you measure its execution time it should be less than 5ms and all the operations take place in the queue you specified.

[2019-12-26 10:35] #119 closed

[2019-12-26 10:47] ApeHC commented on #119
ok, Thanks to answer

[2020-01-04 13:49] Filterd opened #120 "UnsharpMaskFilter not working as expected"
I have a simple chain of brightness, contrast, saturation then MTIMPSUnsharpMaskFilter.

But there appears to be no change when changing the parameters of the unsharp filter.

i'm setting the parameters as this:
`let sharpFilter = MTIMPSUnsharpMaskFilter()
sharpFilter.scale = Float(0.5)
sharpFilter.radius = Float(1000)
sharpFilter.threshold = Float(0)`

(I have tried various numbers for the radius

[2020-01-07 11:07] YuAo commented on #120
The filter does work. It uses `MPSImageGaussianBlur` in `MetalPerformanceShaders.framework` for the blur so the radius parameter does not currently show on the debug graph.

You are using a very large radius, you'll end up not increasing the sharpness of the image but increasing the contrast.

You can paste the following code to the demo `ImageRendererViewController.m` to see the change:

[code]

[2020-01-07 11:07] #120 closed

[2020-01-07 11:12] YuAo commented on #120
If you'd like to increase the sharpness, try a small `radius` and a bigger `scale`.  Like `radius`: 2, `scale`: 2.

[2020-01-13 20:13] leximester opened #121 "Show list of images on MTIImageView as video"
Hi!

I have 150 images and I would like to modify(its kind of animation) and show them in real time on the MTIImageView as a video using GPU. Is it possible with MetalPetal? I do not want to generate a video from images because users could modify the images or is the video generation also possible under 1-2 secs?  Thanks

[2020-01-14 03:55] YuAo commented on #121
Yes, it's possible.

For your reference:
https://github.com/YuAo/YUDisplacementTransition
https://github.com/alexiscn/MTTransitions

[2020-01-14 03:55] #121 closed

[2020-01-14 09:42] jrabek opened #122 "How to avoid stretching (i.e. aspect ratio changes) when resizing MTIImageView"
Thanks again for the great framework.

When using an `MTIImageView` in place of a `AVCaptureVideoPreviewLayer` to preview the filter results, what is the correct way to setup the `MTIImageView` so that the aspect ratio does not change when animating the size of the `MTIImageView`?

I setup a` UIView` to use as a preview that has a `MTIImageView` as a subview.

I set the `resizingMode` to be `MTIDr

[2020-01-14 13:42] YuAo commented on #122
The metal layer's update is different from common CALayers. Try something like this:
[code]
Let me know if the above code works for you.

[2020-01-14 15:57] leximester opened #123 "Memory leaks when converting MTIImage to CIImage"
Hi again! Thanks for the quick response.

I have another problem/question. I'm merging two images with MTIBlendFilter. I need to save them to disk so I'm converting MTIImages to UIImages but it's run out from memory. Any idea what is wrong with my code? Thanks

`-` `(void)applyLiveAnimator`
`{
    self.pickedBlendFilter = [[MTIBlendFilter alloc] initWithBlendMode:MTIBlendModeNormal];
    self.pick

[2020-01-14 16:17] YuAo commented on #123
1. `@autoreleasepool` should be inside the `for` loop.
2. If you need to save images to disk, create `CGImage`s. Use `CGImageDestinationRef` to save the an image to disk.
3. Profile using Instruments.

[2020-01-14 16:17] #123 closed

[2020-01-14 16:33] leximester commented on #123
I already tried the things that you wrote. But did not help. Before this loop the app uses 250mb of ram after its ~700mb.
This line causes the memory leak:
  ` test = [context createCGImageFromImage:outputImg error:nil];`

[code]
<img width="1282" alt="Képernyőfotó 2020-01-14 - 17 31 34" src="https://user-images.githubusercontent.com/5308151/72362664-d9f6bb80-36f3-11ea-8ae4-4ee7a3cc0971.png">

[2020-01-14 17:37] YuAo commented on #123
Do you release the CGImage? `CGImageRelease`

[2020-01-14 19:16] leximester commented on #123
Thank you, that was the problem :)

[2020-01-14 19:23] leximester commented on #121
Thanks for the links but I need a simple "transition" without any animation. (I make the animation in another way from frame to frame) so I just need to show the frames like a simple video. Do you know this type of transition? Or I have to write a new shader? Sorry for the many questions but I just started to work with Metal in this week :)

[2020-01-15 04:16] YuAo commented on #121
How about using a time to change the image view's image

[2020-01-15 12:34] jrabek commented on #122
Thanks for the suggestion @YuAo !  That works perfectly.

[2020-01-15 12:34] #122 closed

[2020-01-15 12:36] jrabek commented on #122
Also thanks for the super quick response!

[2020-01-18 23:37] unixb0y opened #124 "Installation without CocoaPods"
Hello, we use Carthage and would really appreciate if there was a way to embed MetalPetal with Carthage. I used Rome to build a .framework, which worked for debugging but when submitting a beta, Xcode threw errors about wrong architecture etc. and I had to remove one using this command.

lipo -remove x86_64 MetalPetal -o MetalPetal

By the way, a usage example of your .sh script would be cool. I u

[2020-01-19 12:21] Umity opened #125 "Code signing "MetalPetal.framework" failed."
Hi, i used Rome and i added it to my project but i cant pass this now.. Any suggestion?

[2020-01-19 13:05] YuAo commented on #125
Any detail? Logs from Xcode may help.

[2020-01-19 13:07] Umity commented on #125
Oh thank you so much for answering me.
Let me tell my main problem first; i could not install as cocoapod. because i have already a framework installed in my project, it is like:
-MymainProject.xcodeproj
...-Framework.xcodeproj

in my example do you know how can i install as pod?

[2020-01-19 13:19] YuAo commented on #125
You should open an issue in [CocoaPods](https://github.com/CocoaPods/CocoaPods) repo for any CocoaPods related questions.

[2020-01-19 13:22] Umity commented on #125
i know.. but i dont think they may help.. i really need to make this happen as i love and need your framework.

when i try to install as cocoapod, i get this error:
[!] Using Swift static libraries with custom module maps is currently not supported. Please build `MetalPetal` as a framework or remove the custom module map.

when i try to install as framework, it works fine but cant upload to appsto

[2020-01-19 13:26] YuAo commented on #125
No idea from your description. Maybe you can post a sample project, so I can take a closer look.

[2020-01-19 13:30] Umity commented on #125
sure, whats your email?

[2020-01-19 13:33] YuAo commented on #125
I think you can post it here or on your github. So anyone with the similar issue could benefit from our problem solving process.

[2020-01-19 13:37] Umity commented on #125
it is too big, i promise i will come here and tell the solution.

On Sunday, January 19, 2020, Yu Ao <notifications@github.com> wrote:

similar issue could benefit from our problem solving process.

https://ci5.googleusercontent.com/proxy/C6Fvw4fvUI73gzLiQfRrP3zSQ_dm229rNb78I1QPMkrAIU7jYv5oiy2-ZtPtSPXUUqllxJDI-HjjiMMKWG0JpOE68c5e-lmlZgxL7C0gil-n8p54tdut1adp_5vDl_62VCnOpPPwNBOpSCLqD7RHhNm97ctSTaJSu

[2020-01-19 13:58] YuAo commented on #125
Then you should consider providing a minimal problem reproducible project, removing all unnecessary files/codes/assets for this problem, making it easier to investigate/find the solution/test, etc.

For example, here's a demo project with MetalPetal.framework built with Rome. This project has no problem building or archiving.
[Archive.zip](https://github.com/MetalPetal/MetalPetal/files/4082741/Arc

[2020-01-19 14:25] Umity commented on #125
Yes, yours dont have any problem, really.
i tried to copy the framework folder from yours to mine, still getting
errors…

i dont know how are you doing it?
cant i just copy the folder to mine? the framework folder,
MetalPetal.framework folder.

On Sunday, January 19, 2020, Yu Ao <notifications@github.com> wrote:

project, removing all unnecessary files/codes/assets for this problem,
making it easi

[2020-01-19 17:33] Umity commented on #125
Please help ...

[2020-01-20 03:12] YuAo commented on #125
You can check your project setting against the working demo. Or post the detail error log.
If you don't know how to find the build log see https://help.apple.com/xcode/mac/11.0/index.html?localePath=en.lproj#/dev21d56ecd4

[2020-01-20 03:20] YuAo commented on #124
No plan of supporting Carthage currently.

Will support Swift Package Manager when the implementation of [SE-0271](https://github.com/apple/swift-evolution/blob/master/proposals/0271-package-manager-resources.md) is done.

You can use the Rome script this way:
[code]
The framework file can be found in the `MetalPetal/Rome/Products` folder when the process completes.

[2020-01-20 03:20] #124 closed

[2020-01-20 05:34] Umity commented on #125
Thank you very much for your patience with me.. my app works awesomely in my device, the problem is occuring when i am trying to post update to my app, i mean when "archiving".

this is the error message that i am working to fix but i am unable to:

Ld /Users/umit/Documents/APPS/v5/DFX\ 4/Examples/Build/Intermediates/ArchiveIntermediates/iOS\ Example/IntermediateBuildFilesPath/DFX.build/Release-ip

[2020-01-20 06:05] YuAo commented on #125
Try turning off bitcode.

[2020-01-20 06:05] #125 closed

[2020-01-20 09:42] Umity commented on #125
I did of course m, but this time xcode giving error when uploading.
here is the msg:
Code signing "MetalPetal.framework" failed.
View distribution logs for more information.

[2020-01-20 09:47] Umity commented on #125
ad this is from the IDEDistrubtionPipeline.log:
[code]

"MetalPetal.framework: code object is not signed at all"
how can i sign then?? I have to sort this problem which is for me literally as important as my life.

[2020-01-20 09:50] YuAo commented on #125
https://help.apple.com/xcode/mac/11.0/index.html?localePath=en.lproj#/dev51a648b07

Add a framework or library. No.5 Choose `Embed & Sign`

[2020-01-20 09:55] Umity commented on #125
all embed and signed

[2020-01-20 10:08] YuAo commented on #125
Run `codesign -vv YourArchive.xcarchive/Products/Applications/YourApp.app/Frameworks/MetalPetal.framework/MetalPetal` to validate the signature.

Run `codesign -d --verbose=4 YourArchive.xcarchive/Products/Applications/YourApp.app/Frameworks/MetalPetal.framework/MetalPetal` to check the entitlements.

[2020-01-20 10:27] Umity commented on #125
OK, i tried this via the terminal app and it says as error:
"invalid Info.plist (plist or signature have been modified)
In architecture: x86_64
"

[2020-01-20 10:35] Umity commented on #125
first command:
[code]

and this output is after the codesign -d --verbose=4
[code]

after doing them, trying to upload to the appstore again, and same result:
Code signing "MetalPetal.framework" failed.

[2020-01-20 10:59] YuAo commented on #125
How about adding a Build Phase. Run Script after `Embed Frameworks`.

[code]

[2020-01-20 11:05] Umity commented on #125
and then this time i get this error:
fatal error: lipo: -remove x86_64 specified but fat file: MetalPetal does not contain that architecture
Command PhaseScriptExecution failed with a nonzero exit code

[2020-01-20 12:11] Umity commented on #125
I think i managed,
1. i have open framework, which is just a swift xcode project, i deleted the framework there.
2. I pressed control and pull to the framework xcode project area, and this made it work.

I checked location, the frameworks are still in different locations. But yes, for now, it looks working and uploaded to the appstore.

this library is more than amazing and i had to do this, if yo

[2020-01-21 10:36] YuAo commented on #122
You can now set the content mode of the `MTIImageView`. `valueForKeyPath:@"renderView"` is no longer needed. Ref https://github.com/MetalPetal/MetalPetal/releases/tag/1.8.0

[2020-01-28 00:42] omarojo commented on #122
I'm having the same issue.
I have an iPad with a MTIImageView inside a UIView (which is anchored to the size of the screen).
If I rotate the iPad the interface rotates, the UIView (containing the MTIImageView) also rotates, but the rendering gets all stretched out.

[code]
Im using a Crop Filter to apply a 9:16 aspect ratio to the final image being rendered. (among other aspect ratios).

Here a vi

[2020-01-28 05:28] YuAo commented on #122
I don't think it's the same problem. Looks like the layout of your view is messed up. Maybe you should use the view debug tool to ensure the layout.

[2020-01-28 23:08] omarojo commented on #122
@YuAo
I did check that before.
I don't think it is a layout issue. Since the MTIImageView is the size of the screen, as well as the UIView Containing it.

![image](https://user-images.githubusercontent.com/995265/73313379-ae45fc00-41f0-11ea-855c-3a7656bb1be3.png)

[2020-01-29 08:45] YuAo commented on #122
Cannot reproduce. Can you modify the demo project `CameraViewController.swift` to reproduce the issue?

[2020-01-29 16:09] YuAo commented on #80
@sampil Added CoreImage filter support on the master branch. You can now directly inject CoreImage filters to your MetalPetal filter chain. That means you have all these filters available https://developer.apple.com/library/archive/documentation/GraphicsImaging/Reference/CoreImageFilterReference/index.html

Commit & API: https://github.com/MetalPetal/MetalPetal/commit/bd45bad73a2cd5c7798cb7cd2a192

[2020-01-29 16:09] #80 closed

[2020-01-31 01:11] omarojo commented on #122
@YuAo  I fixed it by using `MTIImageView` instead of `MTIThreadSafeImageView`

[2020-01-31 11:01] YuAo commented on #122
@omarojo Can you upload a code sample that can reproduce the problem, looks like a bug.

[2020-02-11 17:33] unixb0y commented on #124
@YuAo The framework created like this does work, but is not uploadable to AppStore Connect since it contains unsupported architectures..

[2020-02-12 00:00] unixb0y opened #126 "Crash since iOS 13.3.1"
I use the [`MetalFilters`](https://github.com/alexiscn/MetalFilters) library to filter images which in turn uses `MetalPetal`. I am experiencing a crash with some specific filters which occurs in MetalPetal, so that's why I'm opening an issue over here and not on MetalFilter's GitHub.

The issue only happens in iOS 13.3.1 devices, not on 13.3.

I am not sure how to gather more info about the crash

[2020-02-12 05:12] YuAo commented on #124
How about `lipo -remove x86_64 MetalPetal -o MetalPetal`?

[2020-02-12 05:38] YuAo commented on #126
I cannot get the MetalFilters demo working because some resources cannot be loaded.

Crashed here "Fatal error: Unexpectedly found nil while unwrapping an Optional value"
<img width="676" alt="Screen Shot 2020-02-12 at 13 37 02" src="https://user-images.githubusercontent.com/1234944/74306189-d1e67600-4d9c-11ea-8c07-cb539c7edfb8.png">

[2020-02-14 01:49] omarojo opened #127 "MTICoreImageKernel not found"
Im trying to use your latest upgrades to the library where you incorporated **MTICoreImageKernel**.
by pointing the pod to the latest git url.

pod 'MetalPetal', :git => 'https://github.com/MetalPetal/MetalPetal.git'

**Even to a specific commit -- but no luck**
pod 'MetalPetal', :git => 'https://github.com/MetalPetal/MetalPetal.git', commit: 'ff216004fb4b54d426fb22fd554bd2cbde54abd8'

it keeps in

[2020-02-14 03:40] YuAo commented on #127
This is a Swift only extension.

https://github.com/MetalPetal/MetalPetal/blob/22e5a4f28bb5c8511938efb1364221e9aac18d8c/Frameworks/MetalPetal/MTICoreImageExtension.swift

[code]

[2020-02-14 03:40] #127 closed

[2020-02-17 02:06] #126 closed

[2020-02-21 22:41] omarojo opened #128 "Stickers (GIFs, Texts) to MTIImage"
Hola again,

Im trying to implement Stickers to be overlaid into a MTIImage. My first approach was to design my own Filters for Text (or GIFs). And based in your [post](https://github.com/MetalPetal/MetalPetal/issues/89#issuecomment-506138193) I was able to add Text using a `MTIMultilayerCompositingFilter`

But it is becoming very hard to implement proper editing UI, to change the text, control lo

[2020-02-24 03:49] YuAo commented on #128
Sorry, no suggestion here. I think this is a decision you should make based on your app's design, UI, performance requirements, image quality requirements, time constraints, etc.

[2020-02-24 03:49] #128 closed

[2020-02-26 09:36] RafikFarhad opened #129 "Looking for Color Balance Filter"
Hello all,
I need to recreate the Color Balance effect on a photo. I searched a lot but did not find any good solution. In my solution the effect I've been getting is not similar with the Photoshop efftct. So anyone can give me any hint or solution to achieve this?

[2020-02-28 06:38] YuAo commented on #129
How about the GIMP implementation?
https://github.com/GNOME/gimp/blob/5d79fba8238a27b8691556489898d33b3fa0dda0/app/operations/gimpoperationcolorbalance.c

[2020-03-02 07:52] zhuozhuo opened #130 "Crash [CIContext clearCaches]"
Version : 1.5.0

iOS: 12.3.1

Hello, I met a crash, must show, convenient to see what reason?

[code]

[2020-03-02 07:53] zhuozhuo commented on #130
<img width="645" alt="屏幕快照 2020-03-02 下午3 51 26" src="https://user-images.githubusercontent.com/4192811/75655949-e3d17f80-5c9d-11ea-8e09-3abec6de60a1.png">

[2020-03-02 08:40] YuAo commented on #130
Please attach a symbolicated crash log. Or update your call stack screenshot with the "Show stack frames without debug symbols and between libraries" option turned off.

[2020-03-02 08:40] #129 closed

[2020-03-02 10:30] RafikFarhad commented on #129
Actually I tried the GIMP Implementation but the output do not match with the PhotoShop output. BTW thanks for your comment.

[2020-03-03 05:36] alyfreym opened #131 "mix with CoreImage"
Hello! Is it possible to integrate the filters from CoreImage in Metal so that they are processed in the GPU and use in a chain with MTIFiltres. This question does not apply to this library, but I'm interested in knowing your opinion. Thanks!

[2020-03-03 10:12] zhuozhuo commented on #130
The reason has been found, because the recording process is only capped at 50M, resulting in the clearCaches method being used every time the memory warning is reached.

[2020-03-03 10:12] #130 closed

[2020-03-03 14:15] YuAo commented on #131
Yes. You can use `MTICoreImageKernel` or `MTICoreImageUnaryFilter`.

https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/MTICoreImageExtension.swift

[2020-03-03 14:15] #131 closed

[2020-03-03 14:18] YuAo commented on #130
It shouldn’t cause any crash though. Would like to see the full call-stack trace.

[2020-03-04 02:18] omarojo opened #132 "CILightTunnel doesn't work - output size is out of bounds"
For some reason the CILightTunnel filter doesn't work. Other CIFilters work fine, but this one is crashing. The output of the filter has a huge size.

Getting Error:
**validateTextureDimensions, line 1227: error 'MTLTextureDescriptor has width (18446744073709551615) greater than the maximum allowed size of 16384.'
validateTextureDimensions:1227: failed assertion `MTLTextureDescriptor has width (18

[2020-03-04 02:29] zhuozhuo commented on #130
Thanks for your reply. I checked the crash record of the test machine, but could not find the crash record. Replaykit recording process exceeds 50M memory limit, killed by system may not crash log. Since the test Demo does not use Git management, it is difficult to modify the code replication. If it happens again, I will give you the feedback.

[2020-03-04 02:55] YuAo commented on #132
Looks like you are rendering a CIImage with infinite extent, which is obviously impossible.

You can either set the `outputImageSize` of the `MTICoreImageUnaryFilter` or write a custom CIFilter to crop the output to your desired size.

[2020-03-04 02:55] #132 closed

[2020-03-04 03:25] omarojo commented on #132
Woohoo ! That worked.
Thank you. 👍

I wonder why that specific CIFilter outputs such a huge image even when the input is much smaller. The other CIFilters dont do that.

[2020-03-04 04:25] YuAo commented on #132
The light tunnel effect can be extended infinitely.

FYI: A lot of filters in CoreImage output infinite size image. (especially for filters in`kCICategoryTileEffect`, `kCICategoryGenerator`)

[2020-03-07 10:34] alyfreym opened #133 "CGImage rendering problem"
If i create `MTIImage ` from `CGImage`  and it was created using `CGImageSourceCreateThumbnailAtIndex` render incorrect.  No matter what options you add. If I use the function `CGImageSourceCreateImageAtIndex`for creating CGImage all is well. I think when I use `CGImageSourceCreateThumbnailAtIndex` he creates thumbnail  changing certain parameter in to original CGImage.  I can not understand what

[2020-03-08 11:15] YuAo commented on #133
Looks like a bug of `MTKTextureLoader`.

Here's a workaround: Draw the cgImage's content to a `CVPixelBuffer` and use the pixel buffer to create a `MTIImage`.

[code]

[2020-03-08 11:15] #133 closed

[2020-03-23 14:56] Igor-Poltavtsev opened #134 "Project with MetalPetal can't be started on iOS 10, 11, 12 simulator"
### Checklist
- [x] If possible, I've reproduced the issue using the `master` branch of this repo
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

### Steps to Reproduce
Start app on iOS 10, 11, 12 simulator.

### Expected behavior
App able to start and all parts work, except MetalPetal.

### Actual behavior
App get crash on start:
`dyld: Symbol no

[2020-03-24 03:55] YuAo commented on #134
Looks like a bug of the simulator runtime.

The simulator runtimes prior to iOS 13 do not have the `MTLHeapDescriptor` symbol defined.  An app is likely to crash when runs on iOS 10, 11, 12 simulators if it contains `MTLHeapDescriptor` related functions, even if it does not use MetalPetal.

And unfortunately we can not fix this on our side. AFAIK there's no way to conditional compile only for iOS

[2020-03-25 13:09] #134 closed

[2020-03-25 13:26] Igor-Poltavtsev commented on #134
Thank you, I commented lines 351-357 in Pods/MetalPetal/Core/MTITexturePool.mm and it works.
`
351        MTLHeapDescriptor *heapDescriptor = [[MTLHeapDescriptor alloc] init];
352        heapDescriptor.size = key.size;
353        heapDescriptor.resourceOptions = key.resourceOptions;
354        if (textureDescriptor.hazardTrackingMode == MTLHazardTrackingModeDefault) {
355            heapDescriptor

[2020-04-02 06:52] alyfreym opened #135 "MTIComputePipelineKernel work example"
Write a simple code that should output a red square
1 - my kernel function
<img width="1397" alt="Снимок экрана 2020-04-02 в 11 35 40" src="https://user-images.githubusercontent.com/29518174/78218013-874cc480-74d6-11ea-9c80-b7999ca9b9f7.png">
2 - my custom filter implementation
<img width="1335" alt="Снимок экрана 2020-04-02 в 11 36 34" src="https://user-images.githubusercontent.com/29518174/78218

[2020-04-02 07:27] YuAo commented on #135
- Make sure you are using the latest version of MetalPetal. i.e. **1.10.1**
- You did not bind any input texture. If you do not want to use any input image. You should pass `@[]` to `applyToInputImages:`
- Output texture index should be right after all input textures.

With one input image:
[code]

No input image:
[code]

[2020-04-02 07:27] #135 closed

[2020-04-02 13:06] sabiland opened #136 "Building for mac Catalyst fails"
Building for mac catalyst fails.

### Checklist
- [x] If possible, I've reproduced the issue using the `master` branch of this repo
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

### Steps to Reproduce
Build for mac Catalyst

### Expected behavior
Successful build.

### Actual behavior
Build error: "'MTLFeatureSet_iOS_GPUFamily3_v1' is unavailabl

[2020-04-02 14:27] YuAo commented on #136
Can’t reproduce. Please add a link to the source file and line.

[2020-04-02 14:47] YuAo commented on #136
All checks looking good: https://github.com/MetalPetal/MetalPetal/runs/555298148
Closing issue.

[2020-04-02 14:47] #136 closed

[2020-04-03 07:27] sabiland commented on #136
Hi YuAo, here is the file with exception:

`//
//  MTIPixelFormat.m
//  MetalPetal
//
//  Created by Yu Ao on 11/10/2017.
//

#import "MTIPixelFormat.h"
#import <AssertMacros.h>

MTLPixelFormat const MTIPixelFormatUnspecified = MTLPixelFormatInvalid;

MTLPixelFormat const MTIPixelFormatYCBCR8_420_2P = 500;
MTLPixelFormat const MTIPixelFormatYCBCR8_420_2P_sRGB = 520;

BOOL MTIDeviceSupportsYCBCRPix

[2020-04-03 07:58] sabiland commented on #136
This is my POD file:

[code]

Is this not master branch ?

[2020-04-03 08:29] YuAo commented on #136
https://guides.cocoapods.org/syntax/podfile.html#pod

Search "master branch"

[2020-04-03 08:50] sabiland commented on #136
Thx. This is correct way?

[code]

[2020-04-03 09:39] sabiland commented on #136
Uau great it works now on Mac Catalyst? Great, thx!

[2020-04-07 13:15] seanwin opened #137 "Extent origin is always .zero"
### Checklist
- [ x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [ x ] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

Hi, first of all, thank you so much for creating this library.

I am running into issue when chaining multiple filters together when one of the filters is adjusting the extent. For example, o

[2020-04-08 04:15] YuAo commented on #137
Thanks for the feedback.

We do not currently have mechanisms like ROI or a canvas/world coordinate system, so a MTIImage's origin is always (0,0).

For workarounds:
If you are dealing with image translation, rotation, etc, you can use `MTIMultilayerCompositingFilter`.
For other use cases you may need to convert the coordinates or crop the image.

[2020-04-08 12:34] seanwin commented on #137
Thanks for fast reply, I will take a look 👍🏻

[2020-04-08 12:34] #137 closed

[2020-04-10 15:59] OlyRice opened #138 "Possible to import and edit videos?"
Hello, really interested in your library and thanks for putting it together. I have spent the last few years developing with GPUImage and I am looking to move to this. I notice it mentions live photo and video editing but are you able to import a video and then edit it?

Thanks

[2020-04-10 16:06] omarojo commented on #138
You have to implement that yourself. And read your video frame by frame, apply the filter and feed it into an AssetWritter to reencode it. You should check out the demos included with the library.

Omar Juarez • MDM. BSc.
Interactive Developer
generatecreative.co

On Apr 10, 2020, 8:59 AM -0700, Oliver RIce <notifications@github.com>, wrote:

[2020-04-10 19:24] YuAo commented on #138
The demo project provides an example of processing videos using a companion library `VideoIO`.

https://github.com/MetalPetal/MetalPetal/blob/master/MetalPetalDemo/VideoProcessorViewController.swift

[2020-04-11 09:38] OlyRice commented on #138
Thanks for the input guys,

One more quick question. With GPUImage to edit a video you pick a video and then apply a chain of filters, the problem is you have to apply them from start to finish. With this library is it possible to vary the filters by time. For example in a 10min video the first 5 minutes is 1 filter and the second 5 is another filter?

 I'm guessing you can if you have access to f

[2020-04-11 09:57] YuAo commented on #138
Yes.

[2020-04-11 12:23] OlyRice commented on #138
Great thanks for the info

[2020-04-11 12:23] #138 closed

[2020-04-20 00:53] vjdaemp commented on #96
@YuAo  I am also observing the "black line" when displaying image in `MTIImageView`. However, the fix to change the address mode of the sample to `.clampToEdge` did not work for me.

Below is my code related to `MTIImageView`:

[code]

Is there another property that I have to set in addition to the ones that I have set?

Thanks

[2020-04-22 04:47] YuAo commented on #96
@vjdaemp How about setting the background color of the image view to `clear`? Does the black line appear when you create a CGImage from the `finalImage`.

[2020-04-22 14:15] vjdaemp commented on #96
@YuAo Setting the background color of the `MTIImageView` does not help. The black line **does not** appear when `CGImage` is created from the `finalImage`.

[2020-04-22 22:10] vjdaemp commented on #96
@YuAo  I added a sample project that replicates the error.  After you tap the "Button", you will see the black line around borders on photo.

![IMG_4828](https://user-images.githubusercontent.com/12041809/80038908-8a7b1500-84c4-11ea-9f09-89f03d0660bb.PNG)

[Sample.zip](https://github.com/MetalPetal/MetalPetal/files/4519227/Sample.zip)

[2020-04-23 04:26] YuAo commented on #96
@vjdaemp Looks like a problem with your `resizeImageWithAspectFit` method.

`CGImage`s can only have integer width and height (`size_t CGImageGetWidth(CGImageRef image)` returns `size_t`).  If you give the graphics renderer non-integer width and height the renderer will try to do some interpolation with the image border to make it **looks like** it has non-integer width and height.

Adding the `ce

[2020-04-23 16:12] vjdaemp commented on #96
@YuAo Thank you very much for the detailed response. I overlooked the error in my image resizing code. After using the ceil function to ensure integer width and height, I no longer observed the black line. The additional details about `premultiplyingAlpha` is great to know and will help in future.

[2020-04-24 10:26] Umity opened #142 "Request: iOS Photo app's "Definition" filter"
This is actually a feature request.

I love the CLAHE on MetalPetal but sometimes the result has unwanted output image (too much unnecessary white areas for example..).

is it possible to reduce it? Or do you think can we implement iOS Photo app's Definition filter?

[2020-04-24 10:30] YuAo commented on #142
Try `MTIMPSDefinitionFilter`?

[2020-04-24 11:03] Umity commented on #142
Oh, i just discovered definition was there.  it is great.
whats the min/max values?

[2020-04-25 09:17] zhangbenwei opened #143 "How to smoothly switch between two filter effects"
### Checklist
- [x ] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x ] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

[2020-04-29 12:26] YuAo commented on #143
If you are dealing with still images you can:
- Create a `CGImage` from the filtered image.
- Display that image in a `UIImageView` or `NSImageView`.
- Apply transition to your view using `CATransition` or view animations.

If you are dealing with real-time images, you may need to use a "transition filter" which takes two image and an intensity, for example a `MTIBlendFilter` with `.normal` blend

[2020-04-30 13:30] #143 closed

[2020-04-30 18:40] vjdaemp commented on #109
I am still having an issue running on the simulator.

For example, add the following lines to sample app's `TripleBufferingViewController.swift` :

[code]

Run app in simulator, open the triple buffering view controller, and then observe the following error in console:

[code]

Looks like a simulator bug ? I wonder what would happen if this is ran on a real device that does not support MPS.  Apple

[2020-05-01 06:26] YuAo commented on #109
@vjdaemp `MetalPerformanceShaders.framework` does not support the iOS simulator. It works well on a real device.

[2020-05-03 14:54] vjdaemp commented on #109
@YuAo Thanks for the clarification.

[2020-05-03 16:12] vjdaemp opened #144 "New Filter Request: Forward Warp"
I'd like to request a new filter, "Forward Warp"

The Forward Warp filter pushes pixels forward as you drag.

Inputs:
- Center Point (x,y) - Center region of pixels to push (in pixels)
- Radius (in pixels) - Radius pixels to push (in pixels)
- Angle (degrees) - Direction of push

If you do not feel this should be provided in standard set of filters, do you have tips on how to implement this via cu

[2020-05-04 11:00] OlyRice opened #145 "Are min/max values for filters documented anywhere?"
Hi, don't know if I am being stupid but are the values for the filters listed anywhere in documentation or source code?

For example if I want to find the min/max value for the Saturation filter so that I can apply these values to slider where can I find them? Had a look through the Filters folder in the framework but was unable to find any info.

Thanks

### Checklist
- [x] I've read the [README]

[2020-05-04 12:07] sabiland opened #146 "New filters in the future?"
Before MetalPetal I used GPUImage 2 (and tried GPUImage 3). But because GPUImage 3 is not production-usable, I switched to MetalPetal few months ago.

I am wondering if MetalPetal plans to add some new filters/effects in the near future?

[2020-05-04 13:25] OlyRice commented on #146
I made the switch as well for similar reasons and i'm looking forward to getting some apps out with this framework,

[2020-05-06 04:51] YuAo commented on #145
Currently no. You'll need to read the source code for min/max values.

[2020-05-06 04:53] YuAo commented on #146
I'm not planning adding new built-in filters in the near future. However you can alway open a feature request.

[2020-05-06 04:53] #146 closed

[2020-05-06 04:59] YuAo commented on #144
How do you want the pixels to transform via a "Forward Warp"?

For example with parameter:
center: 50,50
radius: 30
angle: π

Where do you expect the pixel at 45,50 go?

[2020-05-06 05:13] YuAo commented on #142
`0` means "original" image.
There's no upper bound of the parameter. You'll need to try the filter and select a max value that fits your needs.

[2020-05-06 05:13] #142 closed

[2020-05-06 10:55] larryonoff opened #147 "Filters not applied for specific CGImage"
Hello,

My application works with `PHAsset`. It loads `UIImage` for `PHAsset` and applies MTI filters then.

I have faced with a case when filters don't work for specific images. This are iPhone screenshots and Panoramas.

Please see below a details about CGImages.

**CGImage that don't work with filters**
[code]

**The scaled version of the CGImage above that works with filters.**
[code]

**The c

[2020-05-07 05:54] YuAo commented on #147
`MetalPetal` uses `MTKTextureLoader` to load `CGImage`s. The first image has `bpc = 16` that is "bits per component = 16". `MTKTextureLoader` cannot load images with 16 bit depth. There should be an error when you try to render the image, because  `MTKTextureLoader` cannot decode that image.

A workaround is to use `CoreImage` to load `CGImage`s. For example:
[code]

I think that we should detect

[2020-05-07 07:45] larryonoff commented on #147
@YuAo thank you! this's really helpful.

[2020-05-07 07:59] larryonoff commented on #147
one more question.

I have the following image (this's panorama photo).
[code]

I'm trying to render it into `CGImage`, but the error occurs.

[code]

[code]

Could you please help ? :)

[2020-05-08 03:18] YuAo commented on #147
I'm not sure. It seems the error is still related to `MTKTextureLoader` - "Error domain: MTKTextureLoaderErrorDomain".

You can still try loading the image using CoreImage. You may also attach an example image for me to investigate.

There's another thing you may like to know: `width = 13266` may exceed "maximum 2D texture size" on some devices. Ref: https://developer.apple.com/metal/Metal-Feature

[2020-05-08 08:52] larryonoff commented on #147
@YuAo just checked "maximum 2D texture size". I'm testing on iPhone X, which is MTLGPUFamilyApple4, so size limit is 16384x16384. It looks that the issue is in something different.

Thank you. I'm investigating the document you provided.

[2020-05-08 08:54] larryonoff commented on #147
See the image https://www.icloud.com/iclouddrive/0KPX6GWTEcqW52gbjGdWWHdwA#IMG_0103

[2020-05-08 10:01] YuAo commented on #147
@larryonoff  Can't open that iCloud link.

[2020-05-08 12:12] larryonoff commented on #147
@YuAo should work now.

[2020-05-09 14:05] malemo opened #148 "Is it possible to mesh-transform image in with MetalPetal?"
I'm using Vision to do detect face landmark points. How can I mesh-transform the image using those landmark points to slim the face for instance.

Any leads would be greatly appreciated.

Something like [this](https://i.stack.imgur.com/KA08G.jpg) (transformation should be adjustable with slider)

[2020-05-09 17:44] YuAo commented on #148
Yes. All you need to do is generate the mesh, put the mesh data in a `MTIGeometry`/`MTIVertices`then use the `MTIRenderCommand` API to issue draw calls.

[2020-05-09 18:09] malemo commented on #148
@YuAo thank you, for your reply. Any place you can suggest I can see some sample code as to how this is done: ie mesh generation, putting data in MTIGeometry etc. I've searched all over the Net for this. Not much info out there.

[2020-05-12 05:57] omarojo opened #149 "MTKView inside MTIImageView not resizing properly after applying rotation transformation to MTIImageView"
[**iPhone 6 - iOS 12.4.3**] MTKView inside MTIImageView not resizing properly after applying rotation transformation to MTIImageView

### Checklist
- [x ] If possible, I've reproduced the issue using the `master` branch of this repo
- [x ] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

### Steps to Reproduce
the internal MTKView inside MTIImageView is

[2020-05-12 08:07] YuAo commented on #148
@malemo  A simple method would be using triangulation.

- Use the detected landmarks for vertices' `position` and `texture coordinates`.
- Adjust the vertex's `position` based on your needs. For example: move a face's outer landmarks inward to "slim" face.
- Use `Delaunay Triangulation` to form triangles from points. Use the triangulation result as the `index buffer`.

[2020-05-12 08:08] #148 closed

[2020-05-12 08:13] YuAo commented on #147
@larryonoff I can load and render the image you attached on my iPhone X.

[2020-05-12 08:27] larryonoff commented on #147
This's interesting. The image settings can be changed after export. Thank you. I'll try to analyze problem later.

[2020-05-12 08:38] YuAo commented on #149
Looks like a bug of `MTKView`. The view's position and size is current if you look it in the view debugger, however the drawable size it reports is incorrect.

You can resolve this issue by using the `MTIThreadSafeImageView` which calculates the drawable size on its own.

[2020-05-12 09:07] omarojo commented on #149
@YuAo  That seems to work for the default **9:16** aspect ratio and `resizingMode` set to  `.aspect`

But if you change the aspect ratio to: **3:4** and `resizingMode` set to `.aspectFill`
then the issue comes back. 😭😫

[line 19]`var outputAspectRatio: G8OutputAspectRatio = .ar4by3`

[line 35]`renderView.resizingMode = .aspectFill`

[2020-05-12 12:56] YuAo commented on #149
Yes... There's actually a bug in `MTIThreadSafeImageView` that prevents the drawable size to be updated in some situation.

However this does not apply to the `MTIImageView` case, still looks like an Apple bug.

[2020-05-13 04:08] YuAo commented on #149
@omarojo Fixed.   https://github.com/MetalPetal/MetalPetal/commit/c3b087769e74b4e86d727743b95c9eedde38f5de

[2020-05-14 00:32] #149 closed

[2020-05-14 00:58] omarojo commented on #149
Amazing 😀it works !!

Thank you.

[2020-05-19 04:17] vjdaemp commented on #144
The “Forward Warp” tool pushes the pixels of an image forward as you drag. There is an example of this effect in Photoshop's Liquify tool

**Input parameters:**

- `Center` (x,y) = Center point of region to warp (start drag point)
- `Radius` (in pixels) = Radius of circular region to warp
- `Direction` (angle) = Direction to warp target region (direction of drag)
- `Strength` = Number of pixels to

[2020-05-25 09:54] zhangbenwei opened #155 "[MTLDebugDevice newLibraryWithFile:error:]:1549: failed assertion `filepath must not be nil.'"
Replace this paragraph with a short description of the incorrect behavior.

### Checklist
- [x] If possible, I've reproduced the issue using the `master` branch of this repo
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

### Steps to Reproduce
Replace this paragraph with an explanation of how to reproduce the incorrect behavior.

### Expected beh

[2020-05-26 13:24] larryonoff commented on #95
@YuAo I just faced with the same issue as for the second picture ("blued" image) that @alyfreym. So that my image is also "blued", after applying any `MTIFilter`

My input parameters are as recommended

[code]

See affected `CGImage` print info below:
[code]

After some investigation I've found that the issue occurs with the following `CGImage` properties: `kCGImageAlphaPremultipliedFirst | 0 (def

[2020-05-26 13:59] larryonoff commented on #95
@YuAo I've solved the issue by converting from `kCGImageAlphaPremultipliedFirst` to `kCGImageAlphaPremultipliedLast`. It would be great doing it on the library level.

PS. Strange fact that issue disappears after copying the affected image into another Photo library.

[2020-05-27 03:12] ibprojects opened #156 "Custom init on CIFilter subclass"
I am really enjoying learning how to use MetalPetal. Wonderful work.

When recording video, I noticed when using a custom CIFilter subclass init with parameters that only the first time it's used do those parameters get passed. Every other time it uses the default init().

I am using it in CamerViewController from the demo project.

in viewDidLoad() ...
[code]

Is the best way to avoid this just u

[2020-05-27 11:04] larryonoff commented on #95
It looks that `kCGImageAlphaPremultipliedFirst` is not the only reason. `(default byte order)` also causes the problem

[2020-05-27 11:40] YuAo commented on #95
We wanted to build the texture loading system as thin as possible, so most of the texture loading in MetalPetal is done by `MTKTextureLoader` directly.

As more and more issues raise (#147 #95 #133 #26 ). I think it's time to consider a fallback mechanism.

@larryonoff
For now, you can replace the texture loader in MetalPetal by setting the `defaultTextureLoaderClass`:
[code]

Your texture loader

[2020-05-27 12:06] larryonoff commented on #95
@YuAo thank you for the reply! Looking forward for the updated default texture loader

[2020-05-27 12:50] larryonoff opened #157 "How to draw image with dynamic filter?"
Hello,

How to draw image with dynamic filter, e.g moving snowflakes? Is there any examples doing it?

I've found an **Static Image Rendering** in demo app, but it looks that it's just layers sequence.

### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/

[2020-05-28 03:27] YuAo commented on #156
`MTICoreImageUnaryFilter` actually copies the `CIFilter` you provide (because you may want to render the output image in a different thread/queue, we want to make sure that the `CIFilter` is not modified in the render thread.)

I think your custom `CIFilter`s need to follow the "Subclassing notes for CIFilters" to make the copy work. You may want to check that your input parameters are prefixed wi

[2020-05-28 06:09] YuAo commented on #157
I think a "dynamic filter" is just a filter with a parameter whose value changes over time.

You may need something to "drive" your filters and image updates. For example, a `CADisplayLink`.

You can refer to Apple's CoreImage article - ["Customizing Image Transitions"](https://developer.apple.com/documentation/coreimage/customizing_image_transitions), as well as the `TripleBufferingViewController

[2020-05-28 06:11] YuAo commented on #155
Could you be more specific about how you install the framework? If you are using CocoaPods, be sure to include `use_frameworks!` in your Podfile.

[2020-05-28 07:13] larryonoff commented on #157
@YuAo thank you! you're correct about "dynamic filter". I thought that there may be something from MetalPetal framework. But `CADisplayLink` I think is a great solution

[2020-05-28 07:21] #157 closed

[2020-05-29 03:24] ibprojects commented on #156
@YuAo that was just what I needed, thank you.

I was able to get it working by using

`@objc dynamic var inputLumMax` and pass the parameters in my subclass.

Thanks again!

[2020-05-29 03:24] #156 closed

[2020-05-30 03:04] #155 closed

[2020-06-03 10:10] cloveri opened #158 "Create CGImage from MTIImage?"
### Checklist
- [x ] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x ] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)
[code]
The function returns  ''outImage" , without waiting for the task to complete.
Will the error result be returned because the "commandBuffer" has not been completed?

[2020-06-03 10:43] YuAo commented on #158
Yes and no.

Firstly, it is ok to return a `CGImage` before the command buffer is completed. The `CGImage` here is backed by a `CVPixelBuffer` which is backed by an `IOSurface` which is shared with a `MTLTexture`. When you actually begin to access the image data, for example, draw the image in a `CGContext`, the underlying mechanism of the `CVPixelBuffer`/`IOSurface` (`CVPixelBufferLockBaseAddress

[2020-06-03 10:47] #158 closed

[2020-06-05 09:14] donobono commented on #134
Hello @YuAo

I meet this issue, too.
I can avoid this crash by deleting that codes as you mentioned, but can you make old version  simulators happy more easily by adding #if !(TARGET_OS_SIMULATOR) and #endif to project? :)

Thanks!

[2020-06-05 09:24] YuAo commented on #134
@donobono That would make the `MTIHeapTexturePool` unavailable on all simulators. I think a better approach would be referencing the `MTLHeapDescriptor` dynamically using the Objective-C runtime.

Can you try this?
[code]

[2020-06-05 15:36] 97mik opened #159 "Animated change MTIImageView frame"
When I change MTIImageView frame by using UIView.animate, image immediately rerender (without transition animation). How can I animate this like in classic UIImageView?

### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

[2020-06-07 13:46] R3l0ad3d opened #160 "iOS 12.4 not working (with Swift Package Manager)"
I use this library for image filter . i have device iPhone 6s, OS version 12.4 . but this device create empty context .
### Checklist
i create new project and apply colorLookup filter but its gonna crash for empty MTIContext
### Expected behavior
i run on simuletor in 13.0 + then its work fine . but in your information this library can work ios 10.0+ .
my XCode version is 11.5.
thanks in advanced

[2020-06-08 04:59] YuAo commented on #160
I don't think the iOS 12 simulator supports Metal. The suggestion is to run the demo on a real device.

[2020-06-08 05:12] YuAo commented on #159
I don't see any easy way of performing UI animation on a `MTKView` which is used by `MTIImageView` internally for presenting textures.

I think you can take a snapshot of the view using `UIView. snapshotView(afterScreenUpdates:)` then apply the animation to that snapshot?

[2020-06-08 13:18] R3l0ad3d commented on #160
i run real device iPhone 6s os version 12.4 . that device create empty MTIContext.

[2020-06-08 18:07] YuAo commented on #160
What is the error it reports? Or can you provide a demo project? @R3l0ad3d

[2020-06-09 08:13] R3l0ad3d commented on #160
[This is my test project](https://github.com/R3l0ad3d/MetalPetalTest) please check.
Error

-  program_source:1429:10: fatal error: 'TargetConditionals.h' file not found

#include <TargetConditionals.h>

- Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Context is nil.

[2020-06-09 09:01] #160 closed

[2020-06-09 09:08] YuAo commented on #160
Swift PM does not support precompiled metal shaders currently (Swift 5.2). So we have to compile the shader at runtime. However the on device shader compiler does not recognize the `<TargetConditionals.h>` header (which we use to decide if we are running on a simulator) prior to iOS 13.

This is fixed with bde5bd9, by replacing `#include <TargetConditionals.h>` with a `#define TARGET_OS_SIMULATOR

[2020-06-10 06:43] R3l0ad3d commented on #160
Thanks. Its working

[2020-06-15 09:19] 97mik commented on #159
Solve by putting MTIImageView with original aspect ratio into UIView with clipToBounds: true, and animate UIView size.

[2020-06-15 09:19] #159 closed

[2020-06-20 00:06] GustasBr opened #162 "How to improve Lookup filter quality?"
Hey,

I'm wondering how I could improve filters. Basically, I'm creating filters using Photoshop or Lightroom. Then I export it to color lookup table. I'm using these export parameters:

- Color space: sRGB (Bit depth: 8 bits per component)
- Image sizing: 72 pixels/inch.
- File format PNG (depth: 8 or 16)

My code:
[code]

This functionality works pretty well but I really need more quality. When

[2020-06-20 05:14] YuAo commented on #162
A PSD file of the filter would be helpful.

[2020-06-20 11:11] GustasBr commented on #162
Thank you for your fast reply. After investigating more I found that the problem can occur because I'm using Magic Export Tool on Adobe Lightroom which doesn't export Highlights, Shadow, Clarity, Sharpness, Noise Reduction & other parameters. OR maybe it's even impossible when using color lookup tables (i think that's more likely).. So, what I decided to do is to make those changes with MetalPetal

[2020-06-22 04:32] YuAo commented on #162
That's a lot of information. And I'm busy with work currently. I think I could get some time to investigate and answer your questions later this week.

[2020-06-24 14:38] vjdaemp commented on #144
@YuAo Hello, do you have any pointers to implement this type of warp? Did I provide enough information about the transform?

[2020-06-26 06:48] YuAo commented on #144
Hi, @vjdaemp sorry, too busy these days.

I think this can be done using a grid mesh.

[code]

For `GridMesh`, see https://gist.github.com/YuAo/a144281d5619d725744cb0d3edaff04a

<img width="538" alt="Screen Shot 2020-06-26 at 14 47 42" src="https://user-images.githubusercontent.com/1234944/85828926-0000ab80-b7bc-11ea-8f28-9486daf73a9b.png">

[2020-06-27 20:56] vjdaemp commented on #144
Thank you @YuAo. I will give this a try and report back.

[2020-06-28 05:17] YuAo commented on #162
It looks like there is something wrong with your lookup image. A lot of artifacts along the edges of each color block. I think this is what causes the color glitch. You'll need to investigate why these artifacts appear.
<img width="664" alt="Screen Shot 2020-06-28 at 12 21 53 PM" src="https://user-images.githubusercontent.com/1234944/85937861-0e74d180-b93a-11ea-8d66-8f80e7df8608.png">

For your se

[2020-06-30 13:02] YuAo commented on #147
Hi @larryonoff here's a working PR. #164

You are welcome to try out. (using the `textureloader` branch)

[2020-06-30 13:04] larryonoff commented on #147
@YuAo thanks for the great news!

[2020-06-30 15:28] ymkim50 opened #165 "Invalid consume too much memory when rendering with MTICoreImageUnaryFilter output"
Replace this paragraph with a short description of the incorrect behavior.

### Checklist
- [x] If possible, I've reproduced the issue using the `master` branch of this repo
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

### Steps to Reproduce
[code]

### Expected behavior
### Actual behavior
I simply used MTICoreImageUnaryFilter.ouputImage in co

[2020-06-30 16:55] YuAo commented on #165
How about `context.reclaimResources()` after each `render()`?

[2020-06-30 17:03] #162 closed

[2020-06-30 17:03] #144 closed

[2020-06-30 18:43] ymkim50 commented on #165
reclaimResources() did not work.
The same filter using CoreImage is about 200MB,
When using MTICoreImageUnaryFilter, it is about 800MB.

[2020-07-01 00:50] YuAo commented on #165
Cannot reproduce. Can you attach a demo project? @ymkim50

[2020-07-01 06:20] alyfreym commented on #165
why u save output Image?

[2020-07-02 10:07] ymkim50 commented on #165
Was it tested on the device?
The simulator shows the correct result. However, when tested on a device, a problem occurs.
I simply created the following source code and tested it.
The state was described in comments.
[code]

[2020-07-02 11:14] YuAo commented on #165
@ymkim50 can you provide the "sample" image?

[2020-07-02 11:28] ymkim50 commented on #165
I created a repo for the test project.
[https://github.com/ymkim50/MetalPetalTest](url)

[2020-07-02 17:14] YuAo commented on #165
I got the almost same memory usage with CoreImage using your demo project. (on iPhone X / iOS 13.5.1) How did you measure the CoreImage's memory usage, did you draw the whole image to the drawable?

BTW,  resizing the input image to the drawable size reduces memory usage.
[code]

[2020-07-03 10:02] #147 closed

[2020-07-03 10:35] ymkim50 commented on #165
I will test this. But I don't think this is a fundamental solution.

[2020-07-06 03:49] StromanStroman opened #167 "I can not reference xxx.h in .metal"
I install this framework using pod,but got an error.
[code]
XCode can not find xxx.h,when i write shaders

### Checklist
- [x] If possible, I've reproduced the issue using the `master` branch of this repo
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

### Steps to Reproduce
Make a new ios project using XCode
Install the framework using pod like b

[2020-07-06 03:53] YuAo commented on #167
See https://github.com/MetalPetal/MetalPetal#build-custom-filter

[2020-07-06 03:53] #167 closed

[2020-07-06 07:10] StromanStroman commented on #167
It's done,thank you

[2020-07-07 02:42] StromanStroman opened #168 "MTIImage does not display"
Replace this paragraph with a short description of the incorrect behavior.

### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] If possible, I've reproduced the issue using the `master` branch of this repo
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

### Steps to Reproduce
I use a mti

[2020-07-07 03:36] YuAo commented on #168
See https://github.com/MetalPetal/MetalPetal#cocoapods

Make sure to `use_frameworks!`

[2020-07-07 03:36] #168 closed

[2020-07-07 05:56] StromanStroman commented on #168
It's done,thank you.
I suggest that you make it easier like other library,for example SnapKit,afnetworking.
User can use it no matter use_frameworks! exist or not.

[2020-07-07 07:07] YuAo commented on #168
@StromanStroman That's not possible when there are metal files to be complied in the framework (with the current version of Xcode and CocoaPods). Extra configurations have to be applied to make it work with the "static library" option.

There's a `MetalPetal/Static` sub pod which can work without `use_frameworks!`. However I'm not going to provide any support for this configuration.

[2020-07-07 07:30] StromanStroman commented on #168
OK,I know it,thank you agian

[2020-07-07 09:10] StromanStroman opened #169 "How to input data into vertex shader?"
### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

Just like attribute variables in opengles,vertex bytes or buffer variable in metal.
What I can see is just parameters for fragment shader.
How to input data into vertex shader?

[2020-07-07 09:23] StromanStroman commented on #169
Could you also show me an example?

[2020-07-07 09:58] #169 closed

[2020-07-07 09:58] StromanStroman commented on #169
I suddenly got it

[2020-07-09 04:18] #165 closed

[2020-07-10 03:35] StromanStroman opened #170 "how to implement a print function?"
I need a print function.
I print a path,which consist of many vertexes, into a texture,looks like a path or a curve.
Or you can think of it as a drawing board or something like that.

What's the best way of implementing this function useing metalpetal?

[2020-07-10 04:08] YuAo commented on #170
How about implementing the `MTIGeometry` protocol and issue your own drawcalls.

[2020-07-10 05:29] StromanStroman commented on #170
I will try Image Accumulator

[2020-07-10 06:09] StromanStroman commented on #170
Maybe MTIContext.renderedBuffer(for:) is of swift,and I found "- (MTIImage *)renderedBufferForImage:(MTIImage *)targetImage" in Objective-C version.
But I don't quite understand how to use it ,what it used for,is there some example for using "- (MTIImage *)renderedBufferForImage:(MTIImage *)targetImage" in metalpetal?

[2020-07-10 06:46] YuAo commented on #170
Added to the demo project.

[2020-07-10 11:17] #170 closed

[2020-07-13 02:41] StromanStroman opened #172 "How to reuse a vertex buffer?"
### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

I just read the whole code of MTIContext and MTIVertices,etc.
I found that there is no reuseable vertexbuffer which can update its contents.
All have is to init a new vertexbuffer everytime,whic

[2020-07-13 02:49] StromanStroman commented on #172
Can I change the length of a same buffer dynamically?

[2020-07-13 02:49] YuAo commented on #172
Use `MTIDataBuffer`. You may want to see the "Triple Buffering" code in the demo project.

[2020-07-13 02:49] #172 closed

[2020-07-13 02:50] StromanStroman commented on #172
No,I just want one buffer in the whole app life.

[2020-07-13 02:52] YuAo commented on #172
What do you mean by "one buffer"? If you only use "one buffer" then you'll have to make the CPU wait for the GPU, that would be very inefficient.

[2020-07-13 03:03] StromanStroman commented on #172
The one buffer is just used for contain custom vertexes,it is just be used in every draw.
My requirement is not so complex as you think.
Just one draw a time,I do not need care "Triple Buffering" at least for now.
What I care about is the overhead to alloc a different size buffer.

[2020-07-13 03:05] StromanStroman commented on #172
I found - (nullable id<MTLBuffer>)bufferForDevice:(id<MTLDevice>)device NS_SWIFT_NAME(buffer(for:)); may be work.
But I sitll not found a way for updating a buffer's size dynamically.

[2020-07-13 03:07] YuAo commented on #172
Use `MTIDataBuffer`. You can update the buffer's content using `unsafeAccess` method. You can create a `MTIVertices` object from a `MTIDataBuffer` or you can use it directly in your custom geometry like the "Triple Buffering" demo did.

[2020-07-13 03:10] StromanStroman commented on #172
Thank you

[2020-07-13 03:18] YuAo commented on #172
You cannot change the buffer's length. You'll have to recreate one or reserve enough size.

Mainly because:
- The length of a GPU buffer cannot be updated.
- The CPU memory shared with the GPU must be page aligned, so if you want to update the CPU buffer's length you'll have to recreate the CPU buffer with `vm_alloc` and copy the old content to the newly allocated buffer.

[2020-07-13 07:10] StromanStroman opened #173 "How to make blend?"
### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

Just like below
MTLRenderPipelineColorAttachmentDescriptor *blendDescriptor = descriptor.colorAttachments[0];
        blendDescriptor.blendingEnabled = YES;
        blendDescriptor.alphaBlendOpe

[2020-07-13 09:00] YuAo commented on #173
We do not support blending at render pipeline level by default.

You may enable blending if you implement your own `MTIImagePromise`.
You can also choose to use programmable blending by register your custom blending functions to `MTIBlendModes`.

[2020-07-13 09:00] #173 closed

[2020-07-13 09:39] StromanStroman opened #174 "How to debug shader?"
### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

Like the sample demo of apple's document.
I want to see every texel value,every variable value in shader,how can i do that?

[2020-07-14 01:39] YuAo commented on #174
https://developer.apple.com/documentation/metal/shader_authoring/developing_and_debugging_metal_shaders

[2020-07-14 01:39] #174 closed

[2020-07-14 01:55] StromanStroman commented on #174
How to make it in metalpetal?

[2020-07-14 05:26] YuAo commented on #174
I don't think you need to do anything special with MetalPetal.

[2020-07-14 05:29] StromanStroman commented on #174
You mean metalpetal does not suppurt shader debug?

[2020-07-14 05:31] YuAo commented on #174
I mean I don't think you need to do anything special to enable shader debugging with MetalPetal.

[2020-07-14 05:40] YuAo commented on #174
Debugging with the demo.
![Screen Shot 2020-07-14 at 13 38 54](https://user-images.githubusercontent.com/1234944/87388453-6caae100-c5d7-11ea-8580-d6a09d3db4e8.png)

[2020-07-14 06:40] StromanStroman commented on #174
I checked it again,it works.Maybe something wrong with my project.

[2020-07-14 07:49] StromanStroman commented on #174
I found that what I can only see is the display stage.
What should I do if I want to debug shader in Intermediate stage,or some filter's shader in filter chain?

[2020-07-14 11:00] StromanStroman commented on #170
Excuse me!How to use - (MTIImage *)renderedBufferForImage:(MTIImage *)targetImage?
I did not see its usage in demo

[2020-07-14 11:18] YuAo commented on #170
See the sketch board demo. Ref https://github.com/MetalPetal/MetalPetal/blob/master/MetalPetalDemo/SketchViewController.swift

[2020-07-14 16:36] freggy145 opened #175 "Using Core Image Filters with MetalPetal"
Hey,

Sorry for this newbie question, but how can I use one of the CIFilters with MetalPetal? The docs say that All Core Image Filters are supported but I'm having a hard time figuring out how can I construct `CILanczosScaleTransform` filter with MetalPetal.

Thanks for the help!

[2020-07-14 18:05] YuAo commented on #175
Added two tests about lanczos scale filter. https://github.com/MetalPetal/MetalPetal/commit/1c3e017e35e6070ab4c0da564d8490c52b5d86c1

[2020-07-14 18:05] #175 closed

[2020-07-15 11:11] StromanStroman opened #176 "How to input float4x4 into shader?"
### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

I read the demo.
I read MTIColorMatrixFilter.
But that is not the way I want.
What I want is just put matrix type into parameters.
How to do it?

[2020-07-15 11:51] YuAo commented on #176
**Read** README.
Using `MTIVector` if you are using Objective-C. Using `float4x4` directly if you are using Swift.
https://github.com/MetalPetal/MetalPetal/blob/master/README.md#shader-function-arguments-encoding

[2020-07-15 11:51] #176 closed

[2020-07-16 01:23] StromanStroman commented on #176
thank you very much

[2020-07-16 02:02] StromanStroman commented on #176
Are you chinese?If that,we can communicate with each other in chinese.

[2020-07-16 02:50] ducle01490 opened #177 "Crash on iOS 10.2.1 - [MTLRenderPipelineDescriptorInternal setRasterSampleCount:]: unrecognized selector sent to instance"
Hello,
Thank you for your useful library.
I used the latest version of MetalPedal (v 1.11.1) in my app and i got crash on iOS 10.2.1 (iPhone 6s) as below:

[code]

### Checklist
- [x ] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x ] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

[2020-07-16 04:02] YuAo commented on #177
Could you try again with the 1.11.2_patch branch, see if the issue is fixed.

[2020-07-16 07:01] ducle01490 commented on #177
Thank you for quick replying. After updated code from 1.11.2_patch branch, app did not crash.
However i founded new issue when try to run the MetalPetalDemo project then choose Camera on iPad mini 2 (iOS 10.3).
This issue happened when i run code release version (1.11.0 and 1.11.1). I checked code version 1.10.6, it worked without same issue.
Please see the detail:
[code]

[2020-07-16 07:12] YuAo commented on #177
@ducle01490  I guess it has something to do with the pixel buffer texture bridge issue happens on older devices. https://github.com/MetalPetal/MetalPetal/issues/64

Let me see if I can apply a quick fix.

[2020-07-16 07:27] YuAo commented on #177
@ducle01490 Done. See #178

[2020-07-16 08:20] ducle01490 commented on #177
Thank you @YuAo
The issue is fixed! it works now!

[2020-07-16 08:38] #177 closed

[2020-07-16 08:43] YuAo commented on #177
@ducle01490 New release published: 1.11.2

[2020-07-16 10:39] StromanStroman opened #179 "id<mtltexture>如何转换到Mtiimage？"
### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

我自己想管理一个mtltexture的创建和销毁，只不过，在渲染的时候我会把它转换成mtiimage临时用一下。
有没有这样的方法？
我不想有任何除了我自己管理的纹理之外的内存变化。

[2020-07-16 14:07] YuAo commented on #179
https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/MTIImage.h#L82

[2020-07-16 14:07] #179 closed

[2020-07-22 07:41] omarojo opened #180 "Is there a reason to restrict subclassing objc classes ?"
Hello @YuAo

I noticed in Merge https://github.com/MetalPetal/MetalPetal/pull/163
You added ```Apply objc_subclassing_restricted attribute to objective-c classes. Except the MTIUnaryImageRenderingFilter```

Is there a specific reason for this ?
In one of my projects I was subclassing MTIRenderPipelineKernel. But now I get an error unable to compile.

[2020-07-22 07:48] YuAo commented on #180
Classes marked as `objc_subclassing_restricted` are not designed to be subclassed. It's unsafe to subclass these classes because the implementation detail may change in a future version and that may break your subclass's logic.

Can you describe your use case of subclassing `MTIRenderPipelineKernel`?

[2020-07-22 21:43] koopero commented on #180
Hi @YuAo . I work with @omarojo on this project. Thanks for your wonderful framework!

Our use case for subclassing `MTIRenderPipelineKernel` is a bit of a workaround to add unsupported rendering features, specifically overriding `newKernelStateWithContext` to alter the blend parameters of `colorAttachmentDescriptor`. In doing so, we use the kernel to render effects with significant overdraw in th

[2020-07-22 21:56] koopero commented on #180
For reference, [here is the code](https://gist.github.com/koopero/246be1ea1a9f1b15ffab2d17e70e8a00) for our override.

[2020-07-23 05:29] YuAo commented on #180
I think blending would be a nice-to-have tool. There's an other issue about using blending #173

I'll consider adding blending support to the framework.  For now, I think it's ok to temporary remove the `objc_subclassing_restricted` on `MTIRenderPipelineKernel`.

Also, @koopero What do you think about "Programmable blending"? Can you use that instead?

[2020-07-23 06:28] koopero commented on #180
@YuAo thanks for the consideration and the suggestion. I'll admit that I hadn't considered programmable blending, being more used to old school GL. I'll give it a try in this case and get back to you.

[2020-07-23 06:46] YuAo commented on #180
Programmable blending is more powerful and easy to use, so MetalPetal does not come with the pipeline level blending support. One thing to notice, if you are building a cross platform app,  is that "programmable blending" is not supported on Intel Macs (yes, Apple Silicon Macs support "programmable blending"),

[2020-07-23 07:02] koopero commented on #180
**Programmable blending**

Wow. That works amazingly well. This revelation made the issue obsolete.

Thanks again @YuAo  and great work.

[2020-07-23 07:32] #180 closed

[2020-07-23 21:53] gltdv opened #182 "Why rendering to YUV is supported A9+ only?"
Why would rendering image to pixel buffer only work for 'MTLFeatureSet_iOS_GPUFamily3_v1`?

Forcing it to Family2 (iPhone 6) causing a crash at
[code]

[2020-07-23 22:07] gltdv opened #183 "Increased memory footprint using renderImage"
Hello,

Does `renderImage` internally cache texture (in a texture pool)? Calling this function noticeably increases memory footprint, any best known method to avoid such memory use?

Thanks.

[2020-07-24 04:03] YuAo commented on #182
The older apple GPUs simply do not support this feature.

[2020-07-24 04:03] #182 closed

[2020-07-24 04:22] YuAo commented on #183
Yes. And you can call `MTIContex.reclaimResources()` after render.

If you are rendering images in a tight loop, e.g. a `for` loop, you'll need to wait for each render or you may end up queuing too much job on the GPU.
[code]

[2020-07-24 04:22] #183 closed

[2020-07-24 16:40] gltdv commented on #182
Thanks for the update. Is this documented anywhere?

[2020-07-24 17:40] YuAo commented on #182
No.

[2020-07-24 17:46] gltdv commented on #182
Thanks again @YuAo.

Video output is `kCVPixelFormatType_420YpCbCr8BiPlanarFullRange` which is used to create `CVPixelBuffer` which is then used to create `MTIImage`.

It doesn't make sense that we cannot render `MTIImage` back to `CVPixelBuffer` with format `kCVPixelFormatType_420YpCbCr8BiPlanarFullRange`.

[2020-07-24 17:53] gltdv commented on #183
Thanks much @YuAo.

This might be a feature request. To avoid starving GPU, is it better to create an async call that allows reclaim resource at complete?

[2020-07-24 18:45] YuAo commented on #183
No, you do not need to wait for the GPU to reclaim resources. The `reclaimResources` call can be before the `waitUntilCompleted` call. They have the same effect. Because the GPU also tracks the usage of the resources.

And there is an optional asynchronous`completion` block parameter in the `startTask...` method.

[2020-07-25 13:06] YuAo commented on #93
Hi, @evanxlh I found that it is possible to enable multisample anti-aliasing with the `SCNRenderer`. `SCNRenderer` is smart enough to implicitly enable the multisample support if the render pass descriptor contains a multisample color attachment.

I'll update MetalPetal later to add the MSAA support for `MTISCNSceneRenderer`.

[2020-07-25 17:50] YuAo commented on #93
Done 4b79e0f60273e3d55d5b939199b80d0515df10ee

[2020-07-25 17:50] #93 closed

[2020-07-27 06:18] StromanStroman opened #184 "mtiimage to mtltexture?"
### Checklist
- [x] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [x] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

Is there a method using for turning mtiimage to mtltexture?
I'v read
- (nullable MTIRenderTask *)startTaskToRenderImage:(MTIImage *)image
                                         toTexture:(id<M

[2020-07-27 07:16] YuAo commented on #184
If you don't care about the alpha channel's value you can pass `.alphaIsOne` to the `destinationAlphaType` argument.
If you don't care about CPU/GPU data synchronization you can ignore the returned `MTIRenderTask` object and the `completion` block. However if you want to access the texture's data on CPU or use that texture in a different GPU command queue, you may want to wait until the render tas

[2020-07-27 07:16] #184 closed

[2020-07-27 20:51] orchidfire commented on #70
Could you add an example in documentation where you iterate over pixels with Metal?

[2020-07-28 03:59] omarojo opened #185 "MTIImage from CGImage causes signal SIGABRT crash"
The latest v1.13.0 is causing a SIGABRT error specifically in all calls that convert UIImage.cgimage to MTIImage
either using `MTIImage(cgImage: cimg.cgImage!, options: [MTKTextureLoader.Option.SRGB : false], isOpaque: true)`
or the new ` UIImage(named: loadTexture).map({ MTIImage(image: $0, isOpaque: true) })`

MetalPetal 1.12.0 works fine tho.

Unfortunately I tried to isolate the crash in a cle

[2020-07-28 04:39] YuAo commented on #185
Try a clean build? Do you have any call stack traces?

[2020-07-28 04:51] omarojo commented on #185
hahaha you kidding me. Cleaning the project worked !
🎉🎉👏👏🤙😂😂
Thanks

[2020-07-28 04:51] #185 closed

[2020-07-28 05:00] YuAo commented on #185
I think it's related to this issue: https://github.com/CocoaPods/CocoaPods/issues/8073

If you are using CocoaPods and Xcode 10/11's new build system, you may need to do a clean build after source files in a pod changed.
It seems that they've fixed this with Xcode 12 beta.

[2020-07-28 12:06] jerry317 opened #186 "Add glitch filters"
Hello, is it possible to add glitch filters in the future update?
Or how to implement glitch filters with the current version.

[2020-07-29 02:30] zhangbenwei opened #187 "some question"
Could you give me some advice on how to make different filters work in different places in one picture? Thank you very much

[2020-07-30 15:25] furysheep opened #188 "Is there a way to replace black color with transparent color in MTIImage?"
# Checklist
- [X] I've read the [README](https://github.com/MetalPetal/MetalPetal/blob/master/README.md)
- [X] I've searched for [existing GitHub issues](https://github.com/MetalPetal/MetalPetal/issues)

I have searched all filters but didn't find a suitable one.

[2020-07-31 05:27] gltdv opened #189 "Most energy efficient way to render?"
Hello,

I'm rendering real time camera filter and noticed an increase in CPU usage by doing:
[code]

The CPU usage is coming mostly from `[MTIIMageView setIamge]` to `[MTIPersistImageResolutionHolder dealloc]`.

1) Is there an efficient way to render a filter output?
2) Can we render to `CAMetalLayer` instead of `MTIImage`?

[2020-07-31 06:32] YuAo commented on #188
`MTIChromaKeyBlendFilter`(https://github.com/MetalPetal/MetalPetal/blob/1f0da098b564e2730f6ca90d2bf625975960b57e/Frameworks/MetalPetal/Filters/MTIChromaKeyBlendFilter.h)?

This filter replaces `color` in the `inputImage` with the `inputBackgroundImage`.

[2020-07-31 06:32] #188 closed

[2020-08-01 03:11] YuAo commented on #189
The CPU load should be in `setImage:` or `-[MTIPersistImageResolutionHolder dealloc]`. Can you attach a sample project or an instruments screenshot? Can you reproduce this in the camera demo?

You can render directly to a `CAMetalLayer`, please refer to `MTIThreadSafeImageView`'s implementation [MTIThreadSafeImageView.m](https://github.com/MetalPetal/MetalPetal/blob/master/Frameworks/MetalPetal/UI

[2020-08-01 03:14] YuAo commented on #187
- You can use a mask image like the `MTIBlendWithMask` filter.
- You can issue multiple draw call with different geometries. (`MTIRoundCornerFilter` which run 4 render commands on the 4 corners of the image)

[2020-08-01 03:14] #187 closed

[2020-08-01 04:02] YuAo commented on #186
Glitch will not be in the built-in filters. There are a lot of ways implementing glitch. You can find a lot of shaders about glitch on "shadertoy.com" https://www.shadertoy.com/results?query=glitch

[2020-08-01 04:02] #186 closed

[2020-08-01 04:15] YuAo commented on #70
@orchidfire You can do that by subclassing `MTIUnaryImageRenderingFilter`, provide your own shader function to modify pixels. https://github.com/MetalPetal/MetalPetal#simple-single-input--output-filters

[code]

[code]

[2020-08-01 06:26] gltdv commented on #189
Thank you @YuAo,

- This likely is a result of `reclaimResources`.
- By removing `reclaimResources` from capture loop, `drawInMTKView` became the top CPU time consumer. Is that expected?

- `MTIThreadSafeImageView` performance is very close to `MTIImage`.
- In both cases, rendering a filtered image introduces ~2.7% CPU usage on iPhone 11.

[2020-08-01 10:49] YuAo commented on #189
Yes.

This is expected too. The CPU is used to issue GPU render commands.

[2020-08-03 16:19] gltdv commented on #189
Thank you @YuAo

[2020-08-03 16:19] #189 closed

[2020-08-04 20:35] GustasBr opened #190 "Is it possible to achieve Teal kind a look on MetalPetal? [Question] [Example added]"
Hey,

I'm trying to achieve this kind a look like in example. I don't know how it's done because I saw those filters online but I really want to make something similar. I know for sure that it's not highlights/shadows split toning because as you see in the video it's like a second colour layer on top of the photo. I tried to achieve this in Lightroom but I can't because LR modifies colours that yo

[2020-08-04 23:27] dannydaddy3 opened #191 "Two input textures mixed into one in custom filter (iPhone 11 only)"
Hello, @YuAo I have a weird bug that happens ONLY on iPhone 11 (checked on iPhone 6s, iPhone XS and it works normally). I need to find a way to fix it.

I have my custom MTIFilter. I added simplified code for filter below that takes 3 input textures and simply returns second texture without any modifications. As I said it works normally on all devices, but on iPhone 11 I have strange output where